<div class="contact-container">
<section class="maps">
  <div class="container">
       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2034.4529185910828!2d3.205023379245507!3d6.457420195523831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1553636078305" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</section>
<!-- map-section end -->
<!-- text-area stat -->
<section class="text-area">
  <div class="container">
      <main class="main-text">
          <h2 class="heading">
                  Message Us
          </h2>
          <!-- contact-us form start -->
          <form action="" class="contact-form">
              <div class="form-item">
                  <label for="name" required>Name <span class="clr">*</span></label>
                  <input type="text" name="name" id="" required>
              </div>
              <div class="form-item">
                  <label for="e-mail">Email Address  <span class="clr">*</span></label>
                  <input type="email" name="e-mail" id="" required>
              </div>
              <div class="form-item">
                  <label for="Phone-number">Phone Number <span class="clr">*</span></label>
                  <input type="tel" name="Phone-number" id="" required>
              </div>
              <div class="form-item">
                  <label for="Message">Your Message</label>
                  <textarea name="Message" id="" cols="30" rows="10" class="cu-txtarea"></textarea>
              </div>
              <button class="buttn blue">SUBMIT</button>
          </form>
          <!-- contact-us form end -->

      </main>
      <aside class="social-contact">
          <h2 class="heading">
              Contact Details
          </h2>
          <div class="contact">
              <a href="tel:+234701 085 5839" class="contact-link">
                  <i class="flaticon-phone-receiver"></i>
                  +234 (0) 701 085 5839
              </a>
              <a href="email:info@marketnaija.com" class="contact-link">
                  <i class="flaticon-envelope"></i>
                  info@marketnaija.com
              </a>
              <a href="#" class="contact-link">
                  <i class="flaticon-maps-and-flags"></i>
                  Beside Ojo Local Government,<br> Franklas Junction, <br>Olojo Drive, Lagos
              </a>
          </div>
          <div class="icon-box">
            <a href="https://twitter.com/marketnaija" class="font-link twitter"><i class="flaticon-twitter-logo-silhouette"></i></a>
            <a href="https://web.facebook.com/prifredlinks" class="font-link facebook"><i class="flaticon-facebook-letter-logo"></i></a>
            <a href="https://instagram.com/market_naija.ng" class="font-link instagram"><i class="flaticon-instagram-logo"></i></a>
            <!-- <a href="https://linkedin.com/marketnaija" class="font-link linkedin"><i class="flaticon-linkedin-logo"></i></a> -->
          </div>
       </aside>
  </div>
</section>
</div>
