<!-- header-start -->
<header class="header">
    <div class="container">
        <div class="mid-menu ">
            <a href="" class="logo">
                <img src="../../../../assets/custom/images/logo.png" alt="">
            </a>

        </div>
    </div>
</header>
<!-- header-end -->
<!-- dashboard start -->
<section class="dashboard-layout">
    <div class="my-container">
        <div class="grid-1">
            <div class="avi-card">
                <!-- <img src="../../../../assets/custom/images/img30.jpg" alt="" class="avi"> -->
                <span class="account-info">
                    <div class="account-type">Admin</div>
                </span>
            </div>
            <div class="dashnavs">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard"
                            role="tab" aria-controls="pills-dashboard" aria-selected="true">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-products-tab" data-toggle="pill" href="#pills-products" role="tab"
                            aria-controls="pills-products" aria-selected="false">Promotions</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="pills-sales-tab" data-toggle="pill" href="#pills-sales" role="tab"
                            aria-controls="pills-sales" aria-selected="false"></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" id="pills-analytics-tab" data-toggle="pill" href="#pills-markets" role="tab"
                            aria-controls="pills-analytics" aria-selected="false">Markets</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="pills-merchants-tab" data-toggle="pill" href="#pills-merchants"
                            role="tab" aria-controls="pills-merchants" aria-selected="false">Stores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-support-tab" data-toggle="pill" href="#pills-support" role="tab"
                            aria-controls="pills-support" aria-selected="false">Support</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link"  role="tab" (click)="adminLogout()"
                            aria-controls="pills-support" aria-selected="false">Sign Out</div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="grid-2 container">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel"
                    aria-labelledby="pills-dashboard-tab">
                    <div class="tab-description">Home / Dashboard</div>
                    <div class="tab-title2">
                        My Dashboard
                    </div>
                    <div class="dashboard-container" id="inc">
                        <div class="dash-feed2">
                            <div class="dash-card2 ">
                                <div class="dash-figures">
                                    <span class="fig-3">
                                        <a href="">
                                            <img src="../../../../assets/custom/images/list.png" alt="">
                                        </a>
                                    </span>
                                    <span class="fig-4">
                                        <span class="card-title2">MARKETS</span>
                                        <span class="f3">
                                            {{marketsCount}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="dash-card2">
                                <div class="dash-figures ">
                                    <span class="fig-3">
                                        <a href="">
                                            <img src="../../../../assets/custom/images/boy.png" alt="">
                                        </a>
                                    </span>
                                    <span class="fig-4">
                                        <span class="card-title2">STORES</span>
                                        <span class="f3">
                                            {{storesCount}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="dash-card2">
                                <div class="dash-figures">
                                    <span class="fig-3">
                                        <a href="">
                                            <img src="../../../../assets/custom/images/charts.png" alt="">
                                        </a>
                                    </span>
                                    <span class="fig-4">
                                        <span class="card-title2">ACTIVE STORE ADS</span>
                                        <span class="f3">
                                            {{promoCount}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="completed-sales">
                            <div class="tab-title2">Active Store Promotions
                                <button class="more">
                                    <a href="">
                                        <img src="../../../../assets/custom/images/more.png" alt="">
                                    </a>
                                </button>
                            </div>
                            <div class="complete-sales-table">
                                <div class="table-head">
                                    <div class="table-case">
                                        <span class="td1 tb">Image</span>
                                        <span class="td2 tb">Item Name</span>
                                        <span class="td3 tb">Advertiser</span>
                                        <span class="td4 tb">Start Date</span>
                                        <span class="td5 tb">Stop Date</span>
                                        <span class="td6 tb">Package Name</span>
                                        <span class="td7 tb"></span>
                                    </div>
                                </div>
                                <div class="table-data" *ngFor="let storeAd of storeAds; let i = index;">
                                    <div class="table-case">
                                        <span class="td1"><img
                                                src="data:image/png;base64,{{storeAd.stores.storeImage.file}}" alt=""
                                                class="mini-pic" *ngIf="storeAd.stores.storeImage">
                                            <img src="../../../assets/custom/images/default-store.png"
                                                class="alternate-img" alt="" *ngIf="!storeAd.stores.storeImage">
                                        </span>
                                        <span class="td2"
                                            (click)="onStoreClick(storeAd.storeId)">{{storeAd.stores.storeName}}</span>
                                        <span class="td3">{{storeAd.stores.firstName}}</span>
                                        <span class="td4">{{storeAd.startDate}}</span>
                                        <span class="td5">{{storeAd.endDate}}</span>
                                        <span class="td6">{{storeAd.promoteAds.packageName}}</span>
                                        <span class="far clickable td7" (click)="deleteStoreAd(storeAd.adsId, i)"><i
                                                class="fa fa-trash" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                            </div>
                            </ div>
                            <div class="product-details">
                                <div class="tab-title2">Active Product Promotions
                                    <button class="more">
                                        <a href="">
                                            <img src="../../../../assets/custom/images/more.png" alt="">
                                        </a>
                                    </button>
                                </div>
                                <div class="complete-sales-table">
                                    <div class="table-head">
                                        <div class="table-case">
                                            <span class="td1 tb">s/n</span>
                                            <span class="td2 tb">Product Name</span>
                                            <span class="td3 tb">Brand</span>
                                            <span class="td4 tb">Start Date</span>
                                            <span class="td5 tb">End date</span>
                                            <span class="td6 tb">Package Name</span>
                                            <span class="td7 tb"></span>
                                        </div>
                                    </div>
                                    <div class="table-data" *ngFor="let productAd of productAds; let i = index;">
                                        <div class="table-case">
                                            <span class="td1">{{i + 1}}</span>
                                            <span class="td2"
                                                (click)="onProductClick(productAd.products.productId)">{{productAd.products.productName}}</span>
                                            <span class="td3">{{productAd.products.brand}}</span>
                                            <span class="td4">{{productAd.startDate}}</span>
                                            <span class="td5">{{productAd.endDate}}</span>
                                            <span class="td6">{{productAd.promoteAds.packageName}}</span>
                                            <span class="far clickable td7" (click)="deleteProductAd(productAd.adsId, i)"><i
                                                    class="fa fa-trash" aria-hidden="true"></i></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="merchants">
                                <div class="tab-title2">Active Discount Promotions
                                    <button class="more">
                                        <a href="">
                                            <img src="../../../../assets/custom/images/more.png" alt="">
                                        </a>
                                    </button>
                                </div>
                                <div class="complete-sales-table">
                                    <div class="table-head">
                                        <div class="table-case">
                                            <span class="td1 tb">s/n</span>
                                            <span class="td2 tb">Product Name</span>
                                            <span class="td3 tb">Brand</span>
                                            <span class="td4 tb">Start Date</span>
                                            <span class="td5 tb">End date</span>
                                            <span class="td6 tb">Package Name</span>
                                            <span class="td7 tb"></span>
                                        </div>
                                    </div>
                                    <div class="table-data" *ngFor="let productAd of DiscountAds; let i = index;">
                                        <div class="table-case">
                                            <span class="td1">{{i + 1}}</span>
                                            <span class="td2"
                                                (click)="onProductClick(productAd.products.productId)">{{productAd.products.productName}}</span>
                                            <span class="td3">{{productAd.products.brand}}</span>
                                            <span class="td4">{{productAd.startDate}}</span>
                                            <span class="td5">{{productAd.endDate}}</span>
                                            <span class="td6">{{productAd.promoteAds.packageName}}</span>
                                            <span class="far clickable td7" (click)="deleteDiscountAd(productAd.adsId, i)"><i
                                                    class="fa fa-trash" aria-hidden="true"></i></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
                        <div class="tab-description">Admin / Dashboard / Promotions</div>
                        <div class="tab-title2">
                            Promotions
                        </div>
                        <div class="dashboard-container" id="inc">

                            <div *ngIf="showAds">
                                <form [formGroup]="packageForm" (ngSubmit)="createPromotionPackage()">
                                    <div class="form-group">

                                        <div class="form-control">
                                            <!-- <label for=""></label> -->
                                            <input type="text" formControlName="packageName" placeholder="Name" />
                                        </div>
                                        <div class="form-control">
                                            <!-- <label for=""></label> -->
                                            <input type="text" formControlName="duration"
                                                placeholder="Duration in days" />
                                        </div>
                                        <div class="form-control">
                                            <!-- <label for=""></label> -->
                                            <input type="text" formControlName="price" placeholder="Price" />
                                        </div>

                                        <button class="btn btn-primary package-btn">Submit</button>
                                    </div>

                                </form>
                            </div>
                            <div class="product-details-table">

                                <div class="table-head">
                                    <div class="table-case grey">
                                        <span class="td8">Id</span>
                                        <span class="td9">PACKAGE NAME</span>
                                        <span class="td10">DURATION</span>
                                        <span class="td11">PRICE</span>
                                        <span class="td12">STATUS</span>
                                        <span class="td13">
                                            <button class="btn btn-primary" (click)="toggleAds()" *ngIf="!showAds">Add
                                                Package</button>
                                            <button class="btn btn-primary" (click)="toggleAds()"
                                                *ngIf="showAds">Close</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="table-data" *ngFor="let promoPackage of promotionPackages; let i = index;">
                                    <div class="table-case table-datas">
                                        <span class="td8">{{i + 1}}</span>
                                        <span class="td9">
                                            <div class="cname">{{promoPackage.packageName}}</div>

                                        </span>
                                        <span class="td10">{{promoPackage.duration}}</span>
                                        <span class="td11">{{promoPackage.price}}</span>
                                        <span class="td12"><button class="btn btn-success status"
                                                name="active">active</button></span>
                                        <!-- <span class="far clickable td7" (click)="deleteStoreAd(storeAd.adsId, i)"><i
                                                class="fa fa-trash" aria-hidden="true"></i></span> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-merchants" role="tabpanel"
                        aria-labelledby="pills-merchants-tab">
                        <div class="tab-description">Admin / Dashboard / Stores</div>
                        <div class="tab-title2">
                            Stores
                        </div>
                        <div class="dashboard-container" id="inc">

                            <div class="product-details-table">

                                <div class="table-head">
                                    <div class="table-case grey-merchant">
                                        <span class="td8">s/n</span>
                                        <span class="td9">Store Name</span>
                                        <span class="td10">Merchant Name</span>
                                        <span class="td11">Email</span>
                                        <span class="td12">Phone Number</span>
                                        <!-- <span class="td13">
                                        <button class="btn btn-primary" (click)="toggleAds()" *ngIf="!showAds">Add Package</button>
                                        <button class="btn btn-primary" (click)="toggleAds()" *ngIf="showAds">Close</button>
                                    </span> -->
                                    </div>
                                </div>
                                <div class="table-data" *ngFor="let store of stores; let i = index;">
                                    <div class="table-case store-datas" >
                                        <span class="td8">{{i + 1}}</span>
                                        <span class="td9">
                                            <div class="cname clickable" (click)= "onClickStore(store.storeId)">{{store.storeName}}</div>
                                            <div class="clocation"></div>
                                        </span>
                                        <span class="td10">{{store.firstName}}</span>
                                        <span class="td11">{{store.email}}</span>
                                        <span class="td12">{{store.phoneNumber}}</span>
                                        <span class="td12" (click)="deleteStore(store.storeId, i)"> <i
                                          class="fa fa-trash" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-analytics" role="tabpanel"
                        aria-labelledby="pills-analytics-tab">

                    </div>
                    <div class="tab-pane fade" id="pills-markets" role="tabpanel" aria-labelledby="pills-markets-tab">
                        <div class="tab-description">Admin / Dashboard / Markets</div>
                        <div class="tab-title2">
                            Markets
                        </div>

                        <div class="dashboard-container" id="inc">
                            <div *ngIf="showMarketForm">
                                <form [formGroup]="marketForm" (ngSubmit)="createMarket()">
                                    <div class="form-group">

                                        <div class="form-control market-input">
                                            <!-- <label for=""></label> -->
                                            <input type="text" formControlName="marketName" placeholder=" Market Name" />
                                        </div>
                                        <div class="form-group">
                                            <!-- <label for=""></label> -->
                                            <textarea formControlName="description" cols="40" rows="3"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <div class="btn btn-primary btn-block" (click)="PhotoInput.click()">
                                                Upload Image   <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></div>
                                                <input hidden type="file" #PhotoInput  (change)="uploadPhoto($event)">

                                          </div>

                                        <button class="btn btn-primary package-btn submit-btn">Submit</button>
                                    </div>

                                </form>
                            </div>
                            <div class="product-details-table">

                                <div class="table-head">
                                    <div class="table-case grey-merchant">
                                        <span class="td8">s/n</span>
                                        <span class="td9">Market Name</span>
                                        <span class="td10"></span>
                                        <span class="td11"></span>
                                        <span class="td12"><button class="btn btn-primary" (click)="toggleMarketForm()" *ngIf="!showMarketForm">Add
                                            Market</button>
                                        <button class="btn btn-primary" (click)="toggleMarketForm()"
                                            *ngIf="showMarketForm">Close</button></span>
                                        <!-- <span class="td13">
                                        <button class="btn btn-primary" (click)="toggleAds()" *ngIf="!showAds">Add Package</button>
                                        <button class="btn btn-primary" (click)="toggleAds()" *ngIf="showAds">Close</button>
                                    </span> -->
                                    </div>
                                </div>
                                <div class="table-data" *ngFor="let market of allMarkets; let i = index;">
                                    <div class="table-case store-datas">
                                        <span class="td8">{{i + 1}}</span>
                                        <span class="td9">
                                            <div class="cname">{{market.marketName}}</div>
                                            <div class="clocation"></div>
                                        </span>
                                        <span class="td10"></span>
                                        <span class="td11"></span>
                                        <span class="td12" (click)="deleteMarket(market.marketId, i)"> <i
                                            class="fa fa-trash" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-support" role="tabpanel" aria-labelledby="pills-support-tab">
                        <div class="tab-description">Admin / Dashboard / Support</div>
                        <div class="tab-title2">
                            Site Banner
                        </div>

                        <div class="dashboard-container" id="inc">
                            <div>
                                <form [formGroup]="marketForm" (ngSubmit)="createSiteHero()">
                                    <div class="form-group">

                                        <div class="form-group">
                                            <div class="btn btn-primary btn-block" (click)="PhotoInput1.click()">
                                                Upload Banner 1  <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></div>
                                                <input hidden type="file" #PhotoInput1  (change)="uploadBanner1($event)">
                                            <!-- <div class="col-md-4">
                                                <span class="upload" *ngIf="progress > 0">
                                                  {{progress}}%
                                                </span>
                                                <span class="upload" *ngIf="message">
                                                  {{message}}
                                                </span>
                                              </div> -->
                                          </div>
                                          <div class="form-group">
                                            <div class="btn btn-primary btn-block" (click)="PhotoInput2.click()">
                                                Upload Banner 2   <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></div>
                                                <input hidden type="file" #PhotoInput2  (change)="uploadBanner2($event)">
                                            <!-- <div class="col-md-4">
                                                <span class="upload" *ngIf="progress > 0">
                                                  {{progress}}%
                                                </span>
                                                <span class="upload" *ngIf="message">
                                                  {{message}}
                                                </span>
                                              </div> -->
                                          </div>

                                        <div class="form-group">
                                            <div class="btn btn-primary btn-block" (click)="PhotoInput3.click()">
                                                Upload Banner 3  <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></div>
                                                <input hidden type="file" #PhotoInput3  (change)="uploadBanner3($event)">
                                            <!-- <div class="col-md-4">
                                                <span class="upload" *ngIf="progress > 0">
                                                  {{progress}}%
                                                </span>
                                                <span class="upload" *ngIf="message">
                                                  {{message}}
                                                </span>
                                              </div> -->
                                          </div>

                                        <button class="btn btn-primary package-btn submit-btn">Submit</button>
                                    </div>

                                </form>
                            </div>
                            <!-- <div class="product-details-table">

                                <div class="table-head">
                                    <div class="table-case grey-merchant">
                                        <span class="td8">s/n</span>
                                        <span class="td9">Market Name</span>
                                        <span class="td10"></span>
                                        <span class="td11"></span>
                                        <span class="td12"><button class="btn btn-primary" (click)="toggleMarketForm()" *ngIf="!showMarketForm">Add
                                            Market</button>
                                        <button class="btn btn-primary" (click)="toggleMarketForm()"
                                            *ngIf="showMarketForm">Close</button></span>

                                    </div>
                                </div>
                                <div class="table-data" *ngFor="let market of allMarkets; let i = index;">
                                    <div class="table-case store-datas">
                                        <span class="td8">{{i + 1}}</span>
                                        <span class="td9">
                                            <div class="cname">{{market.marketName}}</div>
                                            <div class="clocation"></div>
                                        </span>
                                        <span class="td10"></span>
                                        <span class="td11"></span>
                                        <span class="td12" (click)="deleteMarket(market.marketId, i)"> <i
                                            class="fa fa-trash" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>
<!-- dashboard end -->

<!-- footer-start -->
<footer>
    <div class="container">
        <div class="footer-holder">
            <address>
                <h6 class="title">CONTACT US</h6>
                <ul>
                    <li class="sub-title">
                        <span class="details">ADDRESS:</span>
                        <span class="detail">Ijput Street Adress, Nigerian</span>
                    </li>
                    <li class="sub-title">
                        <span class="details">PHONE:</span>
                        <span class="detail">
                            <a class="d-link" href="tel:+234555689">+234555689</a>
                        </span>

                    </li>
                    <li class="sub-title">
                        <span class="details">EMAIL</span>
                        <span class="detail">
                            <a class="d-link" href="email:marketnaija@gmail.com">marketnaija@gmail.com</a>
                        </span>

                    </li>
                    <li class="sub-title">
                        <span class="details">WORKING HOURS</span>
                        <span class="detail">Mon-Sun 8AM- 9PM</span>
                    </li>
                </ul>
            </address>
            <div class="subscribe">
                <div class="grouper">
                    <div class="text">
                        <h6 class="title">SUBSCRIBE TO MARKETNAIJA</h6>
                        <p>Send me your newsletter with the latest insight into the <br>
                            property market; and offers, promotions and updates from us.</p>
                    </div>
                    <div class="email-sub">
                        <form action="">
                            <input type="email" name="" id="" placeholder="Email address">
                            <button>SUBSCRIBE</button>
                        </form>

                    </div>
                </div>
                <div class="grouper">
                    <div class="g1">
                        <h6 class="title">MY ACCOUNT</h6>
                        <div class="footer-links">
                            <div class="footer-links">
                              <ul>
                                <li class="sub-title">
                                  <a (click)="onClickAbout()" class="d-link">About Us</a>
                                </li>
                                <li class="sub-title">
                                    <a (click)="onClickContacts()" class="d-link">Contact us</a>
                                </li>
                                <li class="sub-title">
                                    <a (click)="onClickMarket()" class="d-link">Markets</a>
                                </li>

                              </ul>
                              <ul>

                                  <li class="sub-title">
                                      <a (click)="onClickPolicy()" class="d-link">Privacy Policy</a>
                                  </li>
                                  <li class="sub-title">
                                      <a (click)="onClickTerms()" class="d-link">Terms and Conditions</a>
                                  </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <a href="" class="logo2">
                        <img src="../../../../assets/custom/images/logo.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="copy">
            <span class="rights">Copyright 2018 MarketNaija. Powered by Prinifred Links</span>
            <div class="social">
                <a href="https://twitter.com/marketnaija" class="font-link twitter"><i class="flaticon-twitter-logo-silhouette"></i></a>
                <a href="https://web.facebook.com/prifredlinks" class="font-link facebook"><i class="flaticon-facebook-letter-logo"></i></a>
                <a href="https://instagram.com/market_naija.ng" class="font-link instagram"><i class="flaticon-instagram-logo"></i></a>
                <!-- <a href="https://linkedin.com/marketnaija" class="font-link linkedin"><i class="flaticon-linkedin-logo"></i></a> -->

            </div>
        </div>
    </div>
</footer>
