<div class="about-container">
  <section class="landing">
    <div class="container">
      <h2>ABOUT US</h2>
      <button class="lb buttn drk-blue "><div class="white">Contact us</div></button>
    </div>
</section>
<!-- landing-end -->
<!-- text  start -->
<!-- text-content start -->
<section class="text-content">
    <div class="container">
      <!-- <h3 class="heading">OUR STORY</h3> -->
      <h4 class="sub-heading">
        The best on-line market place and business directory in Nigeria.</h4>
      <p class="paragraph"> Buy and sell <b>cars, Phones, Electronics, Gadgets, and Properties, Fashion, Sanitary Wares </b> and so much more.</p>
      <p class="paragraph">Marketnaija is one of the innovative movements under Prifred Links, a registered multifunctional company in Nigeria. Marketnaija is a classified website functioning as a business/shop directory and online market place. It is focused on providing merchants/business people with an improved and extensive market for their goods by providing access to a broader, limitless customer base.
        Customers can access affordable goods ranging from mobile phones, electronics, consumer goods, clothing and accessories, beauty and skincare products, furniture, vehicles, even properties and much more.
        With Marketnaija, Customers are no longer limited by their location as they can now purchase from any featured open market of their choice, swiftly and with ease, as though they were there! Virtual shops are available for patronage as well. Potential customers can view different merchant shops online and their merchandise; obtain information about the business and get connected with them via the available means of communication as provided by the merchant.
        The goal of Marketnaija is to feature all the open markets in Nigeria on the platform, according to each state, providing customers access to various open markets across the nation. We are committed to becoming the foremost online shop directory and virtual marketplace in Nigeria; uniquely designed for 21st century merchants who desire an online presence for their business as well as smart buyers who want to enjoy faster, smarter, limitless shopping.
        </p>
      <!-- <p class="paragraph">The goal of marketnaija is to have all the open markets in Nigeria on the platform, according to each state, thereby facilitating customer’s navigation through various open markets across the nation. Potential customers see the merchant’s shop online; see their information and merchandise, get connected with them via phone calls or text message.</p>
      <p class="paragraph">This platform is beneficial to the 21st century merchants who desire an online presence for their business.</p> -->
    </div>
</section>
<!-- text-content end -->
<!-- connect-start -->
<section class="connect">
    <div class="container">
      <h3 class="heading">CONNECT WITH US</h3>
      <h4 class="sub-heading">MarketNaija Social</h4>
      <div class="icon-box">
        <a href="https://twitter.com/marketnaija" class="font-link twitter"><i class="flaticon-twitter-logo-silhouette"></i></a>
        <a href="https://web.facebook.com/prifredlinks" class="font-link facebook"><i class="flaticon-facebook-letter-logo"></i></a>
        <a href="https://instagram.com/market_naija.ng" class="font-link instagram"><i class="flaticon-instagram-logo"></i></a>
        <!-- <a href="https://linkedin.com/marketnaija" class="font-link linkedin"><i class="flaticon-linkedin-logo"></i></a> -->
      </div>
  </div>
</section>
<!-- connect-end -->
<!-- partner-section -->
<section class="partner">
  <div class="container">
    <h3 class="heading">PARTNER WITH US</h3>
    <h4>Talk to us today.</h4>
    <p class="paragraph">Please for any complaint or suggestions on how to improve this platform, you can call us on:
      <br>07010855839
      <br>08140891122
      <br>Or send an email to prifredlinks@gmail.com
      <br>We would be overly trilled by your presence in our situated at:
      <br>Prifred House: 145, Olojo drive, Ojo, Lagos, Nigeria.

      <br>We look forward to hearing from you!!
      </p>
  </div>
</section>
</div>





