<!-- page-content start -->
      <!-- shop-start -->
      <div *ngIf="!isEmpty">
      <section class="shop">
        <div class="container">
          <!-- gallery start  -->
            <div class="gallery">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active" (deferLoad)="storeImage != null">
                              <img src="{{storeImage}}" class="d-block w-100 shop-pic" alt="..." *ngIf="storeImage">
                              <img src="../../../assets/custom/images/default-store.png" class="company-logo alt-image" alt="" *ngIf="!storeImage">
                            </div>
                            <!-- <div class="carousel-item">
                              <img src="../../../assets/custom/images/img24.jpg" class="d-block w-100 shop-pic" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="../../../assets/custom/images/img25.jpg" class="d-block w-100 shop-pic" alt="...">
                            </div> -->
                          </div>
                        </div>
                  <!-- <div class="preview">
                      <img src="../../../assets/custom/images/img24.jpg" alt="" class="prev-pic p1">
                      <img src="../../../assets/custom/images/img25.jpg" alt="" class="prev-pic p2">
                      <img src="../../../assets/custom/images/img26.jpg" alt="" class="prev-pic p3">
                  </div> -->
            </div>
            <!-- galery end -->
            <!-- shop -details start -->
            <div class="shop-details">
                <div class="director ">
                      <h2 class="shop-name review-heading ">{{storeName}}</h2>
                      <a (click)= gotoPrevious(marketId) class="clickable">
                          <i class="flaticon-arrow-point-to-right "></i>Back to Shops
                      </a>
                  </div>
              <div class="rating1">
                  <fieldset class="rating"  >
                      <app-rating  [rating]='5' [itemId]='0' ></app-rating>
                  </fieldset>
              </div>
              <p class="shop-description grey">{{storeDescription}}</p>
              <div class="shop-contact">
                  <p *ngIf="storeOwner" class="grey">Merchant: {{storeOwner.username}}</p>
                  <a href="tel:+234 566 34567" class="grey">Phone: +234{{storePhone}}</a>
                  <a href="email:awonikoko@gmail.com" class="grey">Email: {{storeEmail}}</a>
                  <address class="grey">Address: {{storeAddress}}</address>

              </div>
              <section class="share-post">
                  <div class="container">
                      <span class="get-map">Share this post</span>
                      <a href="" class="share-link">
                          <img src="../../../assets/custom/images/twitter.png" alt="" class="share-pic ">
                      </a>
                      <a href="" class="share-link">
                          <img src="../../../assets/custom/images/facebook.png" alt="" class="share-pic ">
                      </a>
                      <a href="" class="share-link">
                          <img src="../../../assets/custom/images/google-plus.png" alt="" class="share-pic ">
                      </a>
                  </div>
              </section>
              <div class="store-rater" >
                <h4 class="blue3">Rate Store</h4>
               <app-rating  *ngFor="let item of items" [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick($event)'></app-rating>
              </div>
              <div>
                <button class="buttn blue post-rev btn-primary pointer" style="
                margin-top: 17px; margin-left: 8px;" (click)="getStoreCustomers()">Become Our Customer</button>
              </div>
            </div>
            <!-- shop-details end -->

        </div>

    </section>
    <!-- shop-end -->
    <section class="product-listing">
      <div class=container>
          <h4 class="review-heading__product">Products Listing</h4>
          <span class="far clickable td4" *ngIf="!products"><i class="fa fa-spinner fa-spin fa-fw"
            ></i></span>
          <div class="product-card-system my-container">
              <div class="product-card" *ngFor="let product of products | filter : searchText; let i = index;" >

                  <div class="product-titles" (deferLoad)="imagePath.file != null">
                      <img alt="" class="product-img"   src="data:image/jpeg;base64,{{product.file.file}}">
                      <!-- <app-rating  *ngFor="let item of items" [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick($event)'></app-rating> -->
                            <span class="name">{{product.productName}} </span>
                            <span class=" slasher product-price" ><span class="naira-sign"></span><span class="sales-price">₦ {{discounts[i]  | number:'':'en'}}</span></span>
                            <div *ngIf="isDiscount[i] === true"class="discount-slash"></div>
                            <div class="discount-unslash" *ngIf="isDiscount[i] === false"></div>
                            <span class="sales-price "><span class="naira-sign"></span><span class="price"  *ngIf="isDiscount[i] === true">₦ {{product.price  | number:'':'en'}}</span></span>

                  </div>
                  <div class="buy-product">
                      <button class="buy-button" (click)="openProductDetail(product.productId)">View Details</button>
                  </div>

              </div>
          </div>
      </div>
    </section>
    <!-- customer-review start  -->
    <section class="customer-review">
        <div class="container">
        <h4 class="review-heading">Reviews from customers</h4>

        <form class="review-entry" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <label for="name " class="blue2">Write Review</label>
          <div class="form-item form-group">
              <input type="text" name="" formControlName="comment" id="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"required>
              <button class="buttn blue post-rev">POST REVIEW
                <i class="fa fa-spinner fa-spin fa-fw" *ngIf="reviewLoading"></i>
              </button>
          </div>

      </form>
      <div class="reviews-group" *ngFor="let review of helperArray; let i = index;">
          <div class="name-date" *ngFor="let item of review; let x = index;">
              <span class="username">{{item.username}}</span>
              <span class="post-date">{{item.commentedOn}}</span>
          </div>
          <div class="rating2" *ngFor="let item of review; let x = index;">
              <div class="rated" >
                <fieldset class="rating" [disabled]=true>
                    <app-rating  [rating]='item.rating' [itemId]='item.id'></app-rating>
                </fieldset>
              </div>
              <span class="star-review">{{item.comment}}</span>
          </div>
      </div>
      </div>
    </section>
    <!-- customer-end start  -->
    <!-- feature shops section start -->
    <section class="features">
     </section>
    </div>
    <!-- <p *ngIf="emptyStore" class="danger">This store does not exist</p> -->
      <!-- feature shops section end -->
