<div class="disclaimer-container">
  <section class="text-area">
    <div class="container">
        <main class="main-text min-height">
           <h2 class="heading">Disclaimer</h2>
           <p>Please be hereby informed that marketnaija.ng is just a third party, facilitating accessibility to various markets, aiding the principle of trading, and it is never responsible for any iresponsibilities of merchants and transactions between customers and businessmen. Customers are obliged to employ wisdom in every dealing.</p>


           <h2 class="heading">FAQ</h2>
           <h3>Do I need to create an account on MarketNaija?</h3>
              <p>Yes! As a merchant looking to sell, you have to create an account on MarketNaija which give you access to your profile and shop, and all their amazing features.
              As a customer looking to buy, you also need to create an account which will give you access to a profile providing merchants with your contact details to follow up your order and transactions, your registration as a visitor/customer is just once, this is to allow you explore all the possibilities the site has to offer, without having to fill out forms every time you want to make a purchase, You also need an account in order to get notifications on the best deals, discounts and products from your favorite merchants.
              </p>
              <h3>
                  How do I open an account with you? 
              </h3>
              <p>
                  You can open an account easily and quickly with these simple steps:
                </p>
                  <ul>
                    <li>	• Click on “LOG IN” on the top right corner of the website Header.<li>
                    <li>  • To create a new account, click on “Register” and fill in your details.<li>
                    <li>	• As a customer, you’re ready to shop!<li>
                    <li>	• As a merchant, you’re ready to create your store!<li>
                  </ul>
                  <h3>
                      How do I open an account with you? 
                  </h3>
                  <ul>
                      <li>	• After creating your account, click on “OWN A STORE” click the menu button, just below the website header.<li>
                      <li>  • Proceed to fill in the details of your store in the pop-up form.<li>
                      <li>	•	Under STORE TYPE, if your business is located in a physical market, select the “Physical Store” option. If you have an online business without a physical location, select the “E-store” option. Complete the form and Click SUBMIT.<li>
                      <li>	•	Congratulations on owning your store!<li>
                    </ul>

                    <h3>
                        How do I manage my store and upload my products?
                    </h3>
                    <ul>
                        <li>	•	After creating your store, click on “MY ACCOUNT” on the top right corner of the website Header. You’ll be redirected to the portal for your store.<li>
                        <li>  •	Click on “MY PROFILE” on the left corner of the dropdown page, to upload your store banner and fill in additional details for your store.<li>
                        <li>	•	To upload products, click on “MY PRODUCTS” and click on Add Product and fill in the details. For products with a discount, add the percentage discount: If you want to give a product a ten percent discount, in the Discount box, input 10. The page shows a list of uploaded products, balance in your wallet, total customers and total orders.<li>
                        <li>	•	Click on “CUSTOMERS” to view the list of customers and their contact details for your pre-sales and post-sales follow-up. <li>
                        <li>	•	Click on “MY SHOP” to view new orders and to subscribe for promotions. The page also shows the balance in your wallet, total customers and total orders. <li>
                        <li>	•	Click on “MY DASHBOARD” to view completed sales. The page also shows the balance in your wallet, total customers and total orders. <li>
                      </ul>
                   
                          <h3>
                              How do I manage my store and upload my products?
                          </h3>
                          <p>
                              As a merchant, your wallet is like a virtual purse from which you can pay for promotions. You fund your wallet with a minimum of 1500 naira and when you request for a promotion, the charge will be deducted from your wallet.
                              To fund your wallet, click on <b>“FUND WALLET”</b> just below the store banner. Enter the amount you want to fund your wallet with, enter your card details and click “Pay”. After successfully funding your wallet, the amount will be reflected on your wallet balance as seen on your dashboard, please be aware that your card details are confidential and thereby the marketnaija.ng team has taken a good measure to make sure it is safe and well protected.
                              
                          </p>

                    
                              <h3>
                                  How do I manage my store and upload my products?
                              </h3>
                              <p>
                                  A promotion is a means for you to advertise your offering on the website landing page where the thousands of visitors can view your offer immediately they log on to marketnaija.ng without searching through markets or e-stores. You can promote your store, a product you are selling or an ongoing discount offer.
                                  To request for a promotion, Click on “my shop” from your merchant dashboard. 
                                  To promote your store, click on “PROMOTE STORE”. Select the promotion package you want to request for and click “SEND REQUEST”.
                                  To promote your product, click on “PROMOTE PRODUCT”. Select the product you want to promote from the dropdown list of uploaded products, select promotion package and click “SEND REQUEST”.
                                  To promote discount, click on “PROMOTE DISCOUNT”. Select the discounted product you want to promote from the list of discounted products, select promotion package and click “SEND REQUEST”.
                                  
                              </p>
                          <h3>
                              WHAT IS “MY WALLET” AND HOW DO I FUND IT?
                          </h3>
                          <p>
                              As a merchant, your wallet is like a virtual purse from which you can pay for promotions. You fund your wallet with a minimum of 1500 naira and when you request for a promotion, the charge will be deducted from your wallet.
                              To fund your wallet, click on <b>“FUND WALLET”</b> just below the store banner. Enter the amount you want to fund your wallet with, enter your card details and click “Pay”. After successfully funding your wallet, the amount will be reflected on your wallet balance as seen on your dashboard, please be aware that your card details are confidential and thereby the marketnaija.ng team has taken a good measure to make sure it is safe and well protected.
                              
                          </p>

                          <h3>
                              WHAT IS A “PROMOTION” AND HOW CAN I REQUEST FOR A “PROMOTION”?
                          </h3>
                          <p>
                              A promotion is a means for you to advertise your offering on the website landing page where the thousands of visitors can view your offer immediately they log on to marketnaija.ng without searching through markets or e-stores. You can promote your store, a product you are selling or an ongoing discount offer.
                              To request for a promotion, Click on “my shop” from your merchant dashboard. 
                              To promote your store, click on “PROMOTE STORE”. Select the promotion package you want to request for and click “SEND REQUEST”.
                              To promote your product, click on “PROMOTE PRODUCT”. Select the product you want to promote from the dropdown list of uploaded products, select promotion package and click “SEND REQUEST”.
                              To promote discount, click on “PROMOTE DISCOUNT”. Select the discounted product you want to promote from the list of discounted products, select promotion package and click “SEND REQUEST”.
                              
                          </p>
                 
                          <h3>
                              As a customer, how can I order and what payment methods do you accept?
                          </h3>
                          <p>
                              After creating your account, click on the product you want to purchase and click on “buy”. The merchant will be notified of your order and will contact you for information on when you will receive your order, payment methods and other information.
                          </p>

                          <h3>
                              Where are you located? How do I contact your company if my question isn’t answered here?
                          </h3>
                          <p>
                              Marketnaija.ng is located at 145, Olojo Drive, Ojo-Alaba, Lagos, Nigeria.                          </p>

                              <p>
                                  For further enquiries visit our Contact Us page. <br>Any merchant having issues as regard WALLET FUNDING and DIRECT ADVERT BANNER PLACEMENT can reach our customer help lines: 07010855839, 08140891122.
                                  <br> Or send us an email: prifredlinks@gmail.com
                                  
                              </p>
        </main>


        <aside class="social-contact">
            <h2 class="heading">
                Contact Details
            </h2>
            <div class="contact">
                <a href="tel:+234701 085 5839" class="contact-link">
                    <i class="flaticon-phone-receiver"></i>
                    +234 (0) 7010855839, <br>
                    +234 (0) 8140891122.
                </a>
                <a href="email:info@marketnaija.com" class="contact-link">
                    <i class="flaticon-envelope"></i>
                    info@marketnaija.com
                </a>
                <a href="#" class="contact-link">
                    <i class="flaticon-maps-and-flags"></i>
                    145, Olojo Drive,<br> Ojo-Alaba, Lagos, Nigeria. 
                </a>
            </div>
            <div class="icon-box">
                    <a href="#" ><i class="flaticon-twitter-logo-silhouette"></i></a>
                    <a href="#" ><i class="flaticon-facebook-letter-logo"></i></a>
                    <a href="#" ><i class="flaticon-instagram-logo"></i></a>
                    <a href="#" ><i class="flaticon-linkedin-logo"></i></a>
            </div>
         </aside>
    </div>
</section>
<!-- text-area end -->
</div>
