.disclaimer-container{
  background-color: #E5E5E5
}

/* main-text styles start */
.text-area,.text-box{
  padding: 100px 0 150px 0;
}
.text-area .container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 5% ;
}
.main-text {
  margin-bottom: 50px;
}
.heading {
  color: #21293C;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 34px;
}
.sub-heading {
font-size: 15px;
color: #FF546E;
font-weight: normal;
margin: 30px 0 ;
}
.paragraph {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 23px;
  color: #7B858A;
  text-align: justify;
}
/* main-text styles end */

/* aside styes start */
.contact {
  margin-bottom: 70px;
}
.contact-link :first-of-type {
  margin-bottom: 34px !important;
}
.contact-link {
  display: flex;
  margin-bottom: 34px;
  cursor: pointer !important;
  color: #717070;
}
.contact-link:hover, .contact-link:hover {
  display: flex !important;
  color: #21293C;
}
.contact-link i.flaticon-phone-receiver:before,
.contact-link i.flaticon-envelope:before,
.contact-link i.flaticon-maps-and-flags:before {
  background-color: #0069E6;
  padding: 18px;
  color: #ffffff;
  margin-left: 0;
  margin-right: 20px;
}
.contact-link:hover i.flaticon-phone-receiver:before,
.contact-link:active i.flaticon-phone-receiver:before,
.contact-link:hover i.flaticon-envelope:before,
.contact-link:active i.flaticon-envelope:before,
.contact-link:hover i.flaticon-maps-and-flags:before,
.contact-link:active i.flaticon-maps-and-flags:before {
  background-color: #21293C;

}
.icon-box i {
  color: #0069E6 ;
}
.icon-box i:hover,.icon-box i:active {
  color: #21293C;
}

/* aside styes end */

@media (max-width:900px) {
  .text-area .container {
      grid-template-columns: 1fr;
  }
}


@media (max-width:768px){
  .paragraph {
      text-align: left;
  }
}

/* disclaimer Page start */


/* disclaimer Page start */


/* contact-us Page, get-direction styles start */
.maps {
  padding-top: 100px;
}
.contact-form .form-item label,
.direction-form .form-item label {
  font-size: 14px;
  color: #717070;
  font-weight: 500;
  margin-bottom: 20px;
}
.contact-form .form-item label .clr {
  color: #FF546E;
}
.contact-form .form-item input,
.direction-form .form-item input {
  border-radius: 3px;
  border: 1px solid #C8C8C8;
  width: 80%;
  height: 60px;
  margin-bottom: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0 10px;
}
.contact-form .form-item input:focus,
.direction-form .form-item input:focus {
  border-color: #0069E6;
}
.cu-txtarea {
  resize: none;
  display: block;
  width: 80% ;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #C8C8C8;
  margin-bottom: 32px;

}
.cu-txtarea:focus {
  outline: none;
  border-color: #0069E6;
}
.contact-form .blue,
.direction-form .blue {
  background-color: #0069E6;
  padding: 14px 33px;
  color: #ffffff;
  font-size: 13px;
}
.contact-form .blue:hover,
.contact-form.blue:active,
.direction-form .blue:hover,
.direction-form .blue:active  {
  background-color: #21293C;
}


/* contact-us , get-direction  Page styles end */

/* get-direction page styles start */

.input-grouper {
  display: flex;
}
.direction-form .form-item input {
  width: 100% !important;
}

.direction-form .form-item:first-of-type{
  margin-right: 80px;
  width: 30%
}
.direction-form .form-item:nth-of-type(2){
  width: 70%;
}
@media (max-width:768px){
  .input-grouper {
      flex-direction: column;
  }
  .direction-form .form-item:first-of-type {
      margin-right: unset;
      width: 80%;
  }
  .direction-form .form-item:nth-of-type(2) {
      width: 100%;
  }
}



/* get-direction page styles end*/




