    /*
    Flaticon icon font: Flaticon
    Creation date: 04/04/2019 14:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-twitter-logo-silhouette:before { content: "\f100"; }
.flaticon-instagram-logo:before { content: "\f101"; }
.flaticon-linkedin-logo:before { content: "\f102"; }
.flaticon-star:before { content: "\f103"; }
.flaticon-facebook-logo:before { content: "\f104"; }
.flaticon-facebook-letter-logo:before { content: "\f105"; }
.flaticon-arrow-point-to-right:before { content: "\f106"; }
.flaticon-phone-receiver:before { content: "\f107"; }
.flaticon-envelope:before { content: "\f108"; }
.flaticon-maps-and-flags:before { content: "\f109"; }
.flaticon-search:before { content: "\f10a"; }
.flaticon-down-arrow:before { content: "\f10b"; }
    
    $font-Flaticon-twitter-logo-silhouette: "\f100";
    $font-Flaticon-instagram-logo: "\f101";
    $font-Flaticon-linkedin-logo: "\f102";
    $font-Flaticon-star: "\f103";
    $font-Flaticon-facebook-logo: "\f104";
    $font-Flaticon-facebook-letter-logo: "\f105";
    $font-Flaticon-arrow-point-to-right: "\f106";
    $font-Flaticon-phone-receiver: "\f107";
    $font-Flaticon-envelope: "\f108";
    $font-Flaticon-maps-and-flags: "\f109";
    $font-Flaticon-search: "\f10a";
    $font-Flaticon-down-arrow: "\f10b";