@import url(//use.fontawesome.com/releases/v5.8.1/css/all.css);
@import url('../../../assets/custom/marketnaija-icons/font/flaticon.css');

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}




.shop {
    background: #ffffff;
}
.clickable{
    position: relative;
    right: 72%;
    top: 30px;
    cursor: pointer;
}
.director a .flaticon-arrow-point-to-right {
  display: inline-flex;
}
.director a .flaticon-arrow-point-to-right:before {
  font-size: 15px !important;
  margin-left: 0 !important;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  margin-right: 20px;
}
/* main slider styling  */
.main-slider .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.buy-button{
  width: 49%;
  right: 0%;
  height: 46px;
  position: relative;
  color: #FFFFFF;
  background-color: #0069E6;
  cursor: pointer;
  margin-top: 33PX;
}
.c-grid {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
.min-h{
    min-height: 220px;
    object-fit: cover;
    object-position: center;
}
.discount-slash{
  border-bottom: 2px solid #7B858A;
  width: 12%;
  position: relative;
  top: 1px;
  left: 77px;
}
.carousel-caption {
    bottom: unset;
    top: 50%;
    margin-top: -117px;
    text-align: left;
    padding: 0;
}
.carousel-caption .sbttn {
    padding: 5px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 500;
}
.carousel-caption h2 {
    font-weight: bold;
    font-size: 45px;
    margin: 20px 0;
}
.carousel-caption p {
    font-size: 14px;
    margin-bottom: 25px;
}
.mgr {
    margin-right: 20px;
}
.carousel-control-prev,
.carousel-control-next {
    width: unset !important;
    position: static !important;
    align-self: center;
    justify-self: center;
}

@media(max-width:1440px){
    .main-slider .container {
        max-width: 100%;
    }

}


@media(min-width:767px){
    .min-h {
        min-height: 340px !important;
    }

}
@media(max-width:767px){
     .carousel-control-next,
    .carousel-control-prev {
        display: none !important;
    }
    .c-grid {
        grid-template-columns: 1fr;
    }

}


/* main slider styling-end  */


/* discount,features and Products shop stylings start */
.features,.discounts,.products {
    padding: 60px 0
}
.discounts {
background-color: #EBF1F1;
}
.products {
    background-color: #F4F4F4;

}
.heading h6{
font-size: 14px;
color: #C8C8C8;
font-weight: normal;
text-align: center;
margin-bottom: 20px;
}
.heading h3{
    font-weight: 600;
    font-size: 24px;
    color: #21293C;
    text-align: center;
    margin-bottom: 15px;
}
.page-linker {
    text-align: right;
    padding-bottom: 15px;
}

.page-linker .see-all {
    font-size: 16px;
}

.darker {
    position: static !important;
    margin-bottom: 60px
}

.card-container {
    position: relative;
}

.card-container:focus .move-left{
    opacity: 1;
    transition: all ease-in 300ms;
    -webkit-transition: all ease-in 300ms;
    -moz-transition: all ease-in 300ms;
    -ms-transition: all ease-in 300ms;
    -o-transition: all ease-in 300ms;
}
span.move-left,span.move-right {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    background-color: transparent;
    justify-content: center;
    opacity: 0;
    transition: all ease-in 300ms;
    -webkit-transition: all ease-in 300ms;
    -moz-transition: all ease-in 300ms;
    -ms-transition: all ease-in 300ms;
    -o-transition: all ease-in 300ms;
    z-index: 200;
}
span.active4{
    opacity: 1;
    transition: all ease-out 300ms;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -ms-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
}
.move-left{
    left: 0;
}
.move-right {
    right: 0;
}
.move-left i.flaticon-arrow-point-to-right::before {
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.move-right i.flaticon-arrow-point-to-right::before,
.move-left i.flaticon-arrow-point-to-right::before {
    content: "\f106 ";
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    color: #0069E6;
    background-color: #272723;
    padding: 10px;
    opacity: 0.7;
    top: 50%;
    float: right;
    display: block;
    margin-left: 0;

}

.cards-holder {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  grid-auto-flow: column;
  grid-auto-columns: minmax(230px,250px);
  overflow-x: scroll;
  width: 100%;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
}
.cards-holder::-webkit-scrollbar {
    display: none;
}
.cards {
    max-width: 250px;
    position: relative;
    width: 99%;
}
.cards img {
    max-width: 100% ;
    object-position: center;
    object-fit: cover;
    height: 220px;
}
.tagger {
    position: absolute;
    background-color: #FF546E;
    color: #ffffff;
    white-space: normal;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    margin-top: 12px;
    margin-left: 7px;
}
.cards img{
    width: 99%;
    object-fit: cover;
    object-position: center;
}

.cards-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #C8C8C8;
    padding: 12px 0 ;
    background-color: #ffffff;
}
.cards-title .name {
    color: #21293C;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 13px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 5px;
    max-width: 90%;
}
.cards-title .sales-price {
    font-weight: 500;
    font-size: 18px;
    margin-right: 0;
}
.naira-sign {
    margin-right: 5px;
}
.cards-title .product-price {
    font-size: 14px;
    margin-right: 0;
}
.cards-title button {
    color: #ffffff;
    background-color: #0069E6;
    font-size: 12px;
    padding: 3px 25px;
    border-radius: 3px ;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    -ms-border-radius: 3px ;
    -o-border-radius: 3px ;
}

/* rating system */
/* .rating{
    margin-bottom: 12px;
} */
.flaticon-star:before {
    margin-left: 2px !important;
    font-size: 20px !important;
}


/* rating-system */


/* discount and features shop stylings end */



/* shop-type section start */
.shop-type {
    padding: 130px 0 150px 0;
}
.shop-type .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    justify-items: center;
}
.w-card {
    display: flex;

}
.light, .dark {
    display: flex;
    flex-direction: column;
    height: 300px;
    white-space: nowrap;
    margin: 0;
}
.light {
    color: #717070;
    background-color: #EBF1F1;
    width: 248px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    border-right: none !important;
}
.light span, .dark span{
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 8px;
}
.light h5 {
    font-weight: 600;
    font-size: 28px;
}
.light h5, .dark h5 {
    margin-bottom: 0;
}
.dark{
    color: #ffffff;
    background-color: #0051CF ;
    width: 300px;
    position: relative;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    justify-content: center;
    align-items: flex-end;
    padding-right: 30px;
}
.dark::before {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -17px;
    right: 100%;
    border: 13px solid #EBF1F1;
    border-right: 26px solid #0051CF;
    border-left: 0 solid #EBF1F1;
    z-index: 5;
}
.dark h4 {
    font-weight: 600;
    font-size: 48px;
}
.dark button {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 5px 15px;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #FFFFFF;
}
.dark button:active, .dark button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 0;
}

@media (max-width:600px) {
.shop-type .container {
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.light, .dark {
    height: 220px;
}
.dark {
    padding-right: 2%;
    width: 180px
}
.dark h4 {
    font-size: 24px;

}
.dark button {
    font-size: 12px;
}
.light {
    width: 135px;
    padding-left: 2%;
}
.light span, .dark span {
    font-size: 9px;
}
.light h5 {
    font-size: 20px;
}

}


/* shop-type section end*/

/* market page start */
/* landing start, */
.landing {
  padding-bottom: 40px;
  height: 250px;
  background: url(../../../assets/custom/images/img9.jfif) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.landing .container h2{
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 36px;
}
.lb {
  padding: 8px 30px !important;
  border-radius: 5px;
  font-size: 14px;
}

/* landing end */
/*card-sysem styes  */


.card-system {
  margin-bottom: 100px;
  display: grid;
  grid-gap: 64px;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;


}
.market-card,.post-card {
  display: flex;
  flex-direction: column;
}
.mpic{
  width: 100%;
  object-fit: cover;
  object-position: center;
  align-self: stretch;
  flex-grow: 1;

}
.martket-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  border: 0.5px solid #C8C8C8;
  border-radius: 3px;


}
.martket-titles .market-name {
  font-weight: 500;
  font-size: 18px;
  color: #21293C;
  margin-bottom: 15px;
}
.martket-titles button {
  color: #ffffff;
  background-color: #0069E6;
  font-size: 12px;
  padding: 5px 17px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
@media (max-width: 768px) {
  .card-system {
      grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 425px) {
  .card-system {
      grid-template-columns: 1fr;
  }
}


/* card-system styles */
/* market page end */

/* individual Market styles start */
.into {
  padding-top: 55px;
  margin-bottom: -60px;
}
.director {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 36px;

}
.director h2 {
  color: #21293C;
  font-size: 48px;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: -15px;
}

.director a {
  color: #21293C !important;
}
.director a:active,
.director a:hover {
  color: #0069E6 !important;
}
.director a .flaticon-arrow-point-to-right {
  display: inline-flex;
}
.director a .flaticon-arrow-point-to-right:before {
  font-size: 15px !important;
  margin-left: 0 !important;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  margin-right: 20px;
}

.into .container p {
  color: #7B858A;
  font-size: 14px;
  margin-bottom: 30px;
}
.get-map {
  font-weight: 500;
  font-size: 18px;
  color: #0069E6;
}
.into .container a:hover,.into .container a:active {
  color: #21293C;
}

@media (max-width:767px) {
  .into .container .director h2 {
      margin-left: 0;
  }
}


/* individual Market styles end */
/* blog-post styles start */
.card-system2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 40px;
  justify-content: center;
  grid-column-gap: 25px;
  grid-row-gap: 60px;
}


.p-img {
  margin-bottom: 50px;
  object-fit: cover;
  object-position: center;
}

.post-title {
  font-weight: 500 ;
  font-size: 25px ;
  color: #21293C;
  margin-bottom: 30px
}
.post-brief {
  margin-bottom: 20px;
}

.post-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-author {
  color: #7B858A;
  font-weight: 500 ;
  font-size:14px ;
}
.read-more {
  font-weight: 500 ;
  font-size:14px ;
  color: #0069E6
}
input.search-archieve {
  max-width: 350px !important;
  width: 100% !important;
}
@media (max-width:620px) {
  .card-system2 {
      grid-template-columns: 1fr;
  }
}



/* blog-post ayles end */
.back {
  margin-top:100px;
}

/* single-blog post start */
/* carousel style start */
.bd-example {
  margin-bottom: 50px;
}
.single-pic {
  min-height: 300px;
  object-fit: cover;
  object-position: center;
}



/*carousel style end  */
.area2 {
  padding-top: 35px !important;
  padding-bottom: 0 !important;
  margin-bottom: 37px;

}
.area2 .container{
  border-bottom: 0.5px solid #C8C8C8;
  padding-bottom: 40px !important;
  grid-row-gap: 50px;
}
.mg-25 {
   margin-bottom: 25px !important;
}
section.share-post .container {
   border-top: 0.5px solid #C8C8C8 ;
   border-bottom: 0.5px solid #C8C8C8;
   display: block;
   padding: 34px 0 50px 0;
}
.share-link {
   margin-left: 30px;
}
.share-pic {
   max-width: 30px;
   max-height: 30px;
}
.archive {
  max-width: 295px;
}
.am {
  padding-bottom: 15px;
}
.arch-button {
  background-color: transparent;
}

.am:not(:last-child) {
  border-bottom: 0.5px solid #C8C8C8;
}
.am:not(:first-child) {
  margin-top: 12px;
}
.monthly-post {
  position: relative;
  left: 17px;
  overflow: hidden;
  height: 0;
  transition: all ease-in-out 10ms;
  -webkit-transition: all ease-in-out 10ms;
  -moz-transition: all ease-in-out 10ms;
  -ms-transition: all ease-in-out 10ms;
  -o-transition: all ease-in-out 10ms;
}
.shower{
   overflow: visible !important;
   max-height: 100% !important;
   height: 100% !important;
   transition: all ease-in-out 500ms;
   -webkit-transition: all ease-in-out 500ms;
   -moz-transition: all ease-in-out 500ms;
   -ms-transition: all ease-in-out 500ms;
   -o-transition: all ease-in-out 500ms;
}
.post-linker {
   display: block;
   color: #0069E6;
}
.post-linker:hover,
.post-linker:active{
   color: #21293C;
}
.related-post {
   margin-bottom: 70px;
}
.rel-title {
   font-size: 18px;
   color: #0069E6;
   margin-bottom: 34px;

}

@media (max-width: 768px) {
   .back {
      margin-top:50px;
   }
}

/* single-blog post end */

/* shop-deatails page start */
/* shop style start */
.shop .container {
  display: grid;
  grid-template-columns: [first] 40% [second] 60% [third];
  grid-column-gap: 32px;
  padding-top: 60px;

}
.liner {
  padding-bottom: 60px;
  border-bottom: 0.5px solid #C8C8C8;
  margin-bottom: 20px;
}

/* gallery-start */
.preview {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  grid-column-gap: 10px;
}
.p1 {
  justify-self: left;
}
.p2 {
  justify-self: center
}
.p3 {
  justify-self: end;
}
.shop-pic {
  min-width: 300px;
  height: 500px;
  padding-right: 20px;
}
.shop-pic,.prev-pic {
 width: 100%;
 object-fit: cover;
 object-position: center;
 border-radius:3px ;
 -webkit-border-radius:3px ;
 -moz-border-radius:3px ;
 -ms-border-radius:3px ;
 -o-border-radius:3px ;
}

/* gallery end */
.shop-details .director {
  margin-bottom: 20px !important;

}

.review-heading {
  font-size: 25px !important;
  color: #21293C;
  margin-left: 0 !important;
}
.grey,.grey:hover,.grey:active {
  color: #7B858A;
  font-size: 14px;
}
.shop-contact {
  padding-top: 30px;
  border-top: 0.5px solid #C8C8C8;
  padding-bottom: 23px;
}
.shop-contact a {
  display: block;
  margin-bottom: 15px;
}
.shop-contact a.tel-button {
  background-color: #0069E6;
  color: #ffffff;
  display: inline-block;
  padding: 7px 10px;
  border-radius:3px;
  white-space: nowrap;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  transition: all ease-out 300ms;
  -webkit-transition: all ease-out 300ms;
  -moz-transition: all ease-out 300ms;
  -ms-transition: all ease-out 300ms;
  -o-transition: all ease-out 300ms;
}
.shop-contact a.tel-button:hover,
.shop-contact a.tel-button:active {
  background-color: #21293C;
  transition: all ease-in 300ms;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
}


@media (max-width:992px) {
  .shop .container {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
  }
  .gallery {
      order: 2;
  }
  .share-post .container {
      padding: 0;
  }
}
@media (max-width:426px){
  .shop-details .director h2.shop-name {
      margin-bottom: 30px;
  }
}
/* shop style end */
/* customer-review start */
.customer-review {
  padding-top: 54px;
  margin-bottom: 69px;
}
.customer-review .container h4 {
  margin-bottom: 30px;
}
.blue2 {
  margin-bottom: 10px !important;
  color: #0069E6 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}
.review-entry .form-item{
 display: flex;
 align-items: baseline;
 margin-bottom: 55px;
}
.review-entry .form-item input {
  border-radius: 3px;
  border: 1px solid #C8C8C8;
  width: 100%;
  max-width:900px;
  height: 60px;
  margin-bottom: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0 10px;
  display: inline-block;
  margin-right: 30px;
}
.review-entry .form-item input:focus {
  border: 1px solid #0069E6;
}
.post-rev {
  padding: 12px 25px !important
}
.reviews-group {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #C8C8C8;
}
.name-date{
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.name-date .username, .star-review {
 font-size: 16px;
 color: #7B858A;
}
.name-date .post-date, .rating2 .comment {
  font-weight: 300;
  font-size: 14px;
  color: #C4C4C4;
}

@media (max-width:768px){
  .review-entry .form-item {
      flex-direction: column;

  }
}
@media (max-width: 425px) {
  .reviews-group {
      flex-direction: column;
      align-items: unset;
  }
  .name-date {
      margin-right: 0;
  }
}
/* customer-review end */

/* rating atyles start */
.rating1,.rated,.store-rater {
  display: flex;
}
.rating1 form .rating {
  font-size: 15px;
}
.store-rater {
  flex-direction: column;
}
.store-rater h4 {
  padding: 24px 0 22px 0;
  color: #0069E6;
  font-weight: 500;
  font-size: 18px;
}

.store-rater form .rating{
  font-size: 30px;
}
.rated form .rating {
  font-size: 10px;
  margin-right: 20px;
}
.rated {
  align-items: center;
}


/* rating atyles start */

/* shop-deatails page end */


/* product details page start */

.main-view {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

section.shop div.container div.product-images {
 order: 0;
}
.product-info {

}
.pricing {
  display: flex;
  align-items: center;
}
.product-price,.sales-price {
  font-weight: bold;
  display: inline-block;
}
.sales-price {
  margin-right: 30px;
  font-size: 30px;
}
.product-price{
  font-size: 20px;
  margin-right: 15px;
}

.sales-percentage {
  border: 1.5px solid #0069E6;
  padding: 3px;
  color: #0069E6;
  font-weight: 700;
  font-size: 10px;
  position: relative;
  right: 18px;
}
.product-stats1,.product-stats2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.post-time,.likes,.post-location,.views {
  display: flex;
  align-items: center;
  color: #21293C;
}
i.flaticon-hourglass:before,i.flaticon-like:before,
i.flaticon-maps-and-flags:before,i.flaticon-eye:before {
  margin-left: 0;
  font-size: 20px;

}
.post-timing {
  margin-left: 10px;
}
.post-location {
  margin-right: 10px;
}
div i.liked::before {
  color: #ff0000;
}

h3.section-head {
  font-size: 25px;
}
.product-rater {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #C8C8C8;

}
.product-rater h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  margin-right: 10px;
}
.product-rater form fieldset.rating input,
.product-rater form fieldset.rating label{
  font-size: 12px ;
}
section.product-post .container {
  border-top: 0.5px solid #C8C8C8 ;
  display: block;
  padding: 34px 0 50px 0;
}

.section-sub-heading {
  font-size: 20px;
}
.product-spec .container {
  border-bottom: 0.5px solid #C8C8C8;
  padding-bottom: 20px;
}
.product-spec{
  margin-bottom: 91px;
}
div.keys ul {
  padding-left: 40px;
  margin-bottom: 16px;
  list-style-type: initial ;
}
.spec-name {
  font-weight: bold;
  font-size: 16px;
}
.spec-line {
  /* display: grid;
  grid-template-columns: repeat(3,1fr) */
}
.spec-details {
  font-size: 16px;
}
span.colon  {
  margin: 0 5px;
}

@media (max-width:992px) {
  div.liner {
      padding-bottom: 0px;
  }
}
@media (max-width:375px) {
  .get-map {
      font-size: 14px;
  }
}


/* product details page end*/


/* product-listing start */
div.listings section.landing {
  background: url(../../../assets/custom/images/img5.jpg) center center no-repeat;
}
.product-card-system {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,250px));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;
  padding-bottom: 100px;
}
.product-card {
  max-width: 250px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-card img {
  max-width: 100% ;
  object-position: center;
  object-fit: cover;
  height: 220px;

}
.product-titles .sales-price {
  font-weight: 500;
  font-size: 18px;
}
.naira-sign {
  margin-right: 5px;
}
.product-titles .price {
  font-size: 14px;
}
.product-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #C8C8C8;
  padding: 12px 0 ;
  background-color: #ffffff;
}
.product-titles .name {
  color: #21293C;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 13px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  max-width: 90%;
}
.product-titles .sales-price {
  font-weight: 500;
  font-size: 18px;
  margin-right: 0;
}
.naira-sign {
  margin-right: 5px;
}
.product-titles .price {
  font-size: 14px;
  margin-right: 0;
}
.product-titles button {
  color: #ffffff;
  background-color: #0069E6;
  font-size: 12px;
  padding: 3px 25px;
  border-radius: 3px ;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  -ms-border-radius: 3px ;
  -o-border-radius: 3px ;
}


/* product-listing end */
/* main-text styles start */
.text-area,.text-box{
  padding: 100px 0 150px 0;
}
.text-area .container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 5% ;
}
.main-text {
  margin-bottom: 50px;
}
.heading {
  color: #21293C;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 34px;
}
.sub-heading {
font-size: 15px;
color: #FF546E;
font-weight: normal;
margin: 30px 0 ;
}
.paragraph {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 23px;
  color: #7B858A;
  text-align: justify;
}
/* main-text styles end */

/* aside styes start */
.contact {
  margin-bottom: 70px;
}
.contact-link :first-of-type {
  margin-bottom: 34px !important;
}
.contact-link {
  display: flex;
  margin-bottom: 34px;
  cursor: pointer !important;
  color: #717070;
}
.contact-link:hover, .contact-link:hover {
  display: flex !important;
  color: #21293C;
}
.contact-link i.flaticon-phone-receiver:before,
.contact-link i.flaticon-envelope:before,
.contact-link i.flaticon-maps-and-flags:before {
  background-color: #0069E6;
  padding: 18px;
  color: #ffffff;
  margin-left: 0;
  margin-right: 20px;
}
.contact-link:hover i.flaticon-phone-receiver:before,
.contact-link:active i.flaticon-phone-receiver:before,
.contact-link:hover i.flaticon-envelope:before,
.contact-link:active i.flaticon-envelope:before,
.contact-link:hover i.flaticon-maps-and-flags:before,
.contact-link:active i.flaticon-maps-and-flags:before {
  background-color: #21293C;

}
.icon-box i {
  color: #0069E6 ;
}
.icon-box i:hover,.icon-box i:active {
  color: #21293C;
}

/* aside styes end */

@media (max-width:900px) {
  .text-area .container {
      grid-template-columns: 1fr;
  }
}


@media (max-width:768px){
  .paragraph {
      text-align: left;
  }
}

/* disclaimer Page start */


/* disclaimer Page start */


/* contact-us Page, get-direction styles start */
.maps {
  padding-top: 100px;
}
.contact-form .form-item label,
.direction-form .form-item label,
.review-entry  label {
  font-size: 14px;
  color: #717070;
  font-weight: 500;
  margin-bottom: 20px;
}
.contact-form .form-item label .clr {
  color: #FF546E;
}
.contact-form .form-item input,
.direction-form .form-item input,
aside form input {
  border-radius: 3px;
  border: 1px solid #C8C8C8;
  width: 80%;
  height: 50px;
  margin-bottom: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0 10px;
}
.contact-form .form-item input:focus,
.direction-form .form-item input:focus,
aside form input:focus {
  border-color: #0069E6;
}
.cu-txtarea {
  resize: none;
  display: block;
  width: 80% ;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #C8C8C8;
  margin-bottom: 32px;

}
.cu-txtarea:focus {
  outline: none;
  border-color: #0069E6;
}
.contact-form .blue,
.direction-form .blue,
.review-entry .form-item .blue {
  background-color: #0069E6;
  padding: 14px 33px;
  color: #ffffff;
  font-size: 13px;
}
.contact-form .blue:hover,
.contact-form.blue:active,
.direction-form .blue:hover,
.direction-form .blue:active,
.review-entry .form-item .blue:active,
.review-entry .form-item .blue:hover{
  background-color: #21293C;
}



/* contact-us , get-direction  Page styles end */

/* get-direction page styles start */

.input-grouper {
  display: flex;
}
.direction-form .form-item input {
  width: 100% !important;
}

.direction-form .form-item:first-of-type{
  margin-right: 80px;
  width: 30%
}
.direction-form .form-item:nth-of-type(2){
  width: 70%;
}
@media (max-width:768px){
  .input-grouper {
      flex-direction: column;
  }
  .direction-form .form-item:first-of-type {
      margin-right: unset;
      width: 80%;
  }
  .direction-form .form-item:nth-of-type(2) {
      width: 100%;
  }
}



/* get-direction page styles end*/

/* faq styles start */
/* landing start */
.text-box2{
  padding: 70px 0 150px 0;
}
.landing2 {
  padding-bottom: 40px;
  height: 250px;
  background: url(../../../assets/custom/images/img8.jfif) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.landing2 .container h2 {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 36px;
}
.lb {
  padding: 8px 30px !important;
  border-radius: 5px;
  font-size: 14px;
}

@media (max-width:425px){
  .landing2 .container h2 {
      font-size: 30px;
  }
}

/* landing end */
/* accordion styles start */


/* accordion styling end  */
.card {
  background: #FFFFFF !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  Offset: 0px, 1px rgba(0, 0, 0, 0.05);
}
.card .card-header {
  padding-right: 50px;
}
.card .card-header .mb-0 {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-items:left;
  align-items: center;
}
.card .card-header .mb-0 button {
color: #21293C !important;
text-decoration: none;
font-size: 18px;
font-weight: 500;
background-color: transparent;
white-space: normal !important;
text-align: left;
}
.collapse,.colllapse.show,.collapsing {
  font-size: 14px;
  color: #7B858A;
}
.flaticon-down-arrow {
  display: flex !important;
  justify-self: end;
  align-items: center;
}

.flaticon-down-arrow::before {
  content: "";
  margin-left: 0 !important;
  font-size: 7px !important;
  color: #979797 !important;
  border: 0.5px solid #979797;
  padding: 7px;
  opacity: 0.8;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}
.btn-link[aria-expanded="true"] +.flaticon-down-arrow::before{
  opacity: 1;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}


@media (max-width:425px){
  .card .card-header{
      padding: 12px;
  }
  .card .card-header .mb-0 button{
      font-size: 10px ;
      padding: 6px 0;
  }
  .collapse,.colllapse.show,.collapsing {
      font-size: 12px;
      color: #7B858A;

  }
  .card-body {
      padding: 20px 5px;
  }
}


/* faq styles end */




fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating,
.rating2,
.rating3
{
  border: none;
  float: left;
}

.rating > input,
.rating2 > input,
.rating3 > input
{ display: none; }


.rating > label:before,
.rating2 > label:before,
.rating3 > label:before{
  margin: 5px;
  font-size: 1.25em;
  font-family:"Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
  font-weight: 900;

}

.rating > .half:before,
.rating2 > .half:before,
.rating3 > .half:before{
  content: "\f089";
  position: absolute;
}

.rating > label,
.rating2 > label,
.rating3 > label{
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label,
.rating2 > input:checked ~ label,
.rating2:not(:checked) > label:hover,
.rating2:not(:checked) > label:hover ~ label,
.rating3 > input:checked ~ label,
.rating3:not(:checked) > label:hover,
.rating3:not(:checked) > label:hover ~ label
{ color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label,
.rating2 > input:checked + label:hover,
.rating2 > input:checked ~ label:hover,
.rating2 > label:hover ~ input:checked ~ label,
.rating2 > input:checked ~ label:hover ~ label,
.rating3 > input:checked + label:hover,
.rating3 > input:checked ~ label:hover,
.rating3 > label:hover ~ input:checked ~ label,
.rating3 > input:checked ~ label:hover ~ label
{ color: #FFED85;  }
