<section class="shop">
    <!-- <div (click)="goBack()">
          <i class="flaticon-arrow-point-to-left " ></i>Back to Store
      </div> -->

    <div class="container line">
        <!-- gallery start  -->

        <div class="gallery product-images" (deferLoad)="productImage != null">
            <img src="{{productImage}}" class=" d-block w-100 shop-pic">
            <span class="far clickable td4" *ngIf="!productImage"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
            <div class="preview">
                <img src="{{productImage}}" alt="" class="prev-pic p1">
                <img src="{{productImage}}" alt="" class="prev-pic p2">
                <img src="{{productImage}}" alt="" class="prev-pic p3">
            </div>
        </div>

        <!-- galery end -->
        <!-- shop -details start -->
        <div class="shop-details">
            <!-- <a (click)="goToStore()" class="clickable">
                            <i class="flaticon-arrow-point-to-right "></i>Back to Shop
                                        </a> -->
            <div class="product-info">
                <h2 class="product-name review-heading">
                    {{product?.productName}}
                </h2>



                <div class="pricing">
                    <span class="sales-price"><span class="naira-sign"></span><span class="price">₦
                            {{newPrice | number:'':'en'}}</span></span>


                    <span class="sales-percentage">-{{product?.discount}}%</span>
                </div>
            </div>
            <div class="product-rater">
                <h4>Rate Product:</h4>
                <form action="">
                    <fieldset class="rating">
                        <input type="radio" id="star5_17" name="rating_17" value="5" /><label class="full"
                            for="star5_17" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half_17" name="rating_17" value="4 and a half" /><label
                            class="half" for="star4half_17" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4_17" name="rating_17" value="4" /><label class="full"
                            for="star4_17" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half_17" name="rating_17" value="3 and a half" /><label
                            class="half" for="star3half_17" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3_17" name="rating_17" value="3" /><label class="full"
                            for="star3_17" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half_17" name="rating_17" value="2 and a half" /><label
                            class="half" for="star2half_17" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2_17" name="rating_17" value="2" /><label class="full"
                            for="star2_17" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half_17" name="rating_17" value="1 and a half" /><label
                            class="half" for="star1half_17" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1_17" name="rating_17" value="1" /><label class="full"
                            for="star1_17" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf_17" name="rating_17" value="half" /><label class="half"
                            for="starhalf_17" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </form>
            </div>
            <div class="product-stats1">
                <div class="post-time">
                    <i class="flaticon-hourglass"></i>
                    Posted: <span class="post-timing">{{product?.createdOn}}</span>
                </div>
                <div class="likes">
                    <i class="flaticon-like"></i>
                    <script>
                        let likes;
                        likes = document.querySelector('.likes')
                        likes.addEventListener('click', function (e) {
                            liked = document.querySelector('.flaticon-like');
                            liked.classList.toggle('liked')
                        })
                    </script>
                </div>
            </div>
            <div class="product-stats2">
                <div class="post-location">
                    <i class="flaticon-maps-and-flags"></i>
                    <span class="post-location">{{product?.location}}</span>
                </div>
                <!-- <div class="views">
                                  <i class="flaticon-eye"></i>
                                  <span class="veiw-number">194 views</span>
                              </div> -->
            </div>

            <div class="shop-contact" *ngIf="product">
                <a href="tel:{{product.store.phoneNumber}}" class="tel-button">+234 {{product.store?.phoneNumber}}</a>
                <a href="email:{{product.store.email}}" class="grey">{{product.store?.email}}</a>
                <address class="grey">{{product.store?.address}}</address>
            </div>

            <!-- <section class="product-post">
                  <div class="container">
                      <span class="get-map">Share this product</span>
                      <a href="" class="share-link">
                          <img src="../../../assets/custom/images/twitter.png" alt="" class="share-pic ">
                      </a>
                      <a href="" class="share-link">
                          <img src="../../../assets/custom/images/facebook.png" alt="" class="share-pic ">
                      </a>
                      <a href="" class="share-link">
                          <img src="../../../assets/custom/images/google-plus.png" alt="" class="share-pic ">
                      </a>
                  </div>
              </section> -->

        </div>
        <!-- shop-details end -->
    </div>
</section>
<div class="container">
    <div class="liner"></div>
</div>
<div class="product-spec">
    <div class="container">
        <div class="product-details">
            <h3 class="section-head">Product Description</h3>
            <p class="product-description grey">{{product?.description}}</p>
        </div>
        <h3 class="section-head">Product Specifications</h3>
        <div class="keys">
            <h4 class="section-sub-heading">Key features</h4>
            <p class="product-description grey">{{product?.specifications}}</p>
        </div>
        <div class="specifications">
            <h4 class="section-sub-heading">Specifications</h4>
            <div class="spec-line">
                <span class="spec-name">Category</span>
                <span class="colon">:</span>
                <span class="spec-details">{{product?.brand}}</span>
            </div>
            <div class="spec-line">
                <span class="spec-name">Brand</span>
                <span class="colon">:</span>
                <span class="spec-details">{{product?.category}}</span>
            </div>

            <div class="spec-line">
                <span class="spec-name">Discount</span>
                <span class="colon">:</span>
                <span class="spec-details">{{product?.discount}}</span>
            </div>
            <div class="spec-line">
                <span class="spec-name">Available</span>
                <span class="colon">:</span>
                <span class="spec-details">Yes</span>
            </div>

            <button class="buy-button" (click)=onSubmitOrder()>Place Order
                <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
            </button>


        </div>
    </div>
    <div>

    </div>
</div>
<!-- shop-end -->
<!-- customer-review start  -->

<!-- customer-end start  -->
<!-- Featured Products start -->
<section class="products">
    <div class="container">
        <div class="heading">
            <h6>The Number One Marketplace</h6>
            <h3>FEATURED PRODUCTS</h3>
            <div class="page-linker">
                <!-- <a href="" class="see-all">See All</a> -->
            </div>
        </div>
        <div class="card-container">
            <span class="move-left">
                <i class="flaticon-arrow-point-to-right"></i>
            </span>
            <span class="move-right">
                <i class="flaticon-arrow-point-to-right"></i>
            </span>
            <div class="cards-holder">
                <div class="cards" *ngFor="let products of promoProducts; let i = index;">
                    <span class="tagger">{{products.products.discount}}%</span>

                    <div class="cards-title">
                        <img src="{{image[i]}}" alt="">
                        <div class="rate">
                            <form action="">
                                <fieldset class="rating">
                                    <input type="radio" id="star5_9b" name="rating_9b" value="5" /><label class="full"
                                        for="star5_9b" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half_9b" name="rating_9b" value="4 and a half" /><label
                                        class="half" for="star4half_9b" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4_9b" name="rating_9b" value="4" /><label class="full"
                                        for="star4_9b" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half_9b" name="rating_9b" value="3 and a half" /><label
                                        class="half" for="star3half_9b" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3_9b" name="rating_9b" value="3" /><label class="full"
                                        for="star3_9b" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half_9b" name="rating_9b" value="2 and a half" /><label
                                        class="half" for="star2half_9b" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2_9b" name="rating_9b" value="2" /><label class="full"
                                        for="star2_9b" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half_9b" name="rating_9b" value="1 and a half" /><label
                                        class="half" for="star1half_b9" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1_9b" name="rating_9b" value="1" /><label class="full"
                                        for="star1_9b" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf_9b" name="rating_9b" value="half" /><label
                                        class="half" for="starhalf_9b" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </form>
                        </div>
                        <span class="name">{{products.products.productName}} </span>
                        <span class="sales-price "><span class="naira-sign"></span><span
                                class="sales-price">₦{{newPromoPrice[i] | number:'':'en'}}</span></span>
                        <span  *ngIf="showSlasher[i] === true" class=" slasher product-price"><span class="naira-sign"></span><span class="price">
                                ₦{{products.products.price | number:'':'en'}}</span></span>
                                <span  *ngIf="showSlasher[i] === false" class="  product-price"><span class="naira-sign"></span><span class="price">
                                 </span></span>
                        <button (click)="gotoProduct(products.products.productId)">BUY</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
