<!-- page-content start -->
<!-- landing-start -->
<section class="landing">
  <div class="container">
    <h2>MARKETS</h2>
    <button class="lb buttn drk-blue">Contact us</button>
  </div>
</section>
<!-- landing-end -->
<!-- text  start -->
<!-- market-content start -->

<section class="markets-content">
  <div class="container">
    <!-- searchbar-start -->
    <div class="search-bar">
      <form action="" class="search-form">
        <div class="form-grouping">
          <input type="search" name="" id="" class="searcher"
           [(ngModel)]="searchText" name="searchText" placeholder="Search Market by Name...">
           <i class="flaticon-search"></i>
        </div>

        <!-- <div class="dropdown-holder">
          <div class="market">
              <label class="market-label">City</label>
          <select class="browser-default custom-select">

            <option selected>Lagos </option>
            <option value="1">Benin</option>
            <option value="2">Owerri</option>
            <option value="3">Lokoja</option>
          </select>
        </div>

            </div> -->
      </form>

    </div>
    <!-- searchbar-end -->
  </div>
  <p *ngIf="emptyMarket" class="alert alert-danger">There are no markets available. Please check back later</p>

  <!-- card sytem start -->
  <div class="card-system row">
      <span class="far clickable td4" *ngIf="loadSpinner"><i class="fa fa-spinner fa-spin fa-fw"
        ></i></span>
        <div class="market-card col-sm-4" *ngFor="let market of markets | filter : searchText; let i = index"
     (deferLoad)="market.marketImage.marketBanner != null">
      <img src="data:image/jpeg;base64,{{market.marketImage.marketBanner}}" alt="" class="mpic company-logo" *ngIf="market.marketImage">
      <img src="../../../assets/custom/images/default-store.png" class="company-logo alt-image" alt="" *ngIf="!market.marketImage">
      <div class="martket-titles">
        <span class="market-name">{{market.marketName}}</span>
        <button class="market-cursor" (click)="getMarket(market.marketId)" >ENTER MARKET</button>
      </div>
    </div>
  </div>
  <!-- card sytem end -->

</section>
<!-- market-content end -->
<!-- partner-section-end -->
<!-- text section start -->
