<div class="direction-container">
<section class="maps">
  <div class="container">
       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2034.4529185910828!2d3.205023379245507!3d6.457420195523831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1553636078305" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</section>

<!-- map-section end -->
<!-- text-area stat -->
<section class="text-box">
   <div class="container">
       <section class="main-text">
           <h2 class="heading">
               Get directions to Market
           </h2>
           <form action="" class="direction-form">
               <div class="input-grouper">
                   <div class="form-item">
                       <label for="market-name">Market Name</label>
                       <input type="text" name="market-name" id="" class="naming">
                   </div>
                   <div class="form-item">
                       <label for="address">Your Address</label>
                       <input type="text" name="address" id="" class="address">
                   </div>
               </div>
               <button class="buttn blue">GET DIRECTIONS</button>
           </form>

       </section>
       <section class="social-contact">
           <h2 class="heading">
               Contact Details
           </h2>
           <div class="contact">
               <a href="tel:+234701 085 5839" class="contact-link">
                   <i class="flaticon-phone-receiver"></i>
                   +234 (0) 701 085 5839
               </a>
               <a href="email:info@marketnaija.com" class="contact-link">
                   <i class="flaticon-envelope"></i>
                   info@marketnaija.com
               </a>
               <a href="#" class="contact-link">
                   <i class="flaticon-maps-and-flags"></i>
                   Beside Ojo Local Government,<br> Franklas Junction, <br>Olojo Drive, Lagos
               </a>
           </div>
           <div class="icon-box">
                   <a href="#" ><i class="flaticon-twitter-logo-silhouette"></i></a>
                   <a href="#" ><i class="flaticon-facebook-letter-logo"></i></a>
                   <a href="#" ><i class="flaticon-instagram-logo"></i></a>
                   <a href="#" ><i class="flaticon-linkedin-logo"></i></a>
           </div>
       </section>
   </div>
</section>
<!-- text-area end -->
</div>
