<div class="terms-container">
  <section class="text-area">
    <div class="container">
        <main class="main-text">
            <h2 class="heading">
                Terms and Conditions
            </h2>
            <h5 class="sub-heading" style="margin-bottom:0">
                Rules on Use of
            </h5>
            <p class="paragraph">If you browse or otherwise access any content or data on the marketnaija,ng website where this Terms and Condition appears in the footer, and to any marketnaija.ng application, service, or tool (collectively "Resource" or "Service") you agree to be bound by these terms. If you do not agree to these terms, please do not use this Resource.</p>
            <p class="paragraph">By using the Resource with or without Registered account, regardless of how you access or use it, including through mobile devices you are accepting the terms of this Terms of Conditions and any applicable posted guidelines for the Service.</p>
            <p class="paragraph">These Terms of Conditions shall be a legally binding agreement between the User and Administrator, which subject is a provision of access to use of the Resource and to its functionality to the User. Among these Terms of Conditions, the agreement between the User and the Administrator comprises also all specific documents, by which a provision of access to use of the Resource is regulated, including, and other documents as well being developed by the Administrator from time to time.</p>
            <p class="paragraph">Administrator reserve the right to change Terms and Condition at any time by publishing the new Terms and Conditions on the Resource. By continuing to use the Service you are indicating your acceptance to be bound by the amended Terms and Conditions.</p>
            <p class="paragraph">"Administrator", "we" or "us" - Local Content Administrator or other entity that exercise control over the Local Content Administrator, which renders the Services to the Users.</p>
            <p class="paragraph">"Local Content Administrator" — marketnaija.ng, entity incorporated under the laws of Nigeria.</p>
            <p class="paragraph">"User", "you", "your" – means any natural person eligible to conclude an agreement under the applicable law with Administrator and using any of Services with or without a Registered account. The Users may also act on behalf of the company that provides goods and services and intends to post announcements to the Resource. In this case Users shall be empowered for such representation in a written form.</p>
            <p class="paragraph">"Register entry/account" — an electronic User area within functional system of the Resource, with a help of which he/she is able to manage his/her announcements on the Resource.</p>
            <h5 class="sub-heading">
                1. General provisions
            </h5>
            <p class="paragraph">1.1. For the registration of an account, you shall provide necessary veridical and current information for the purpose of generation of User account, which includes User’s unique login (email address), and a Resource password, as well as his/her surname and name. Resource Registration Form may require the User to provide more detailed information.</p>
            <p class="paragraph">1.2. Resource is a marketplace that allows users to offer, sell by posting an announcement and buy just about anything in a variety of pricing formats and locations. The actual contract for sale is directly between Users. In such a manner the Administrator is not a party of the transaction, but it only provides a communication trade platform for posting of announcements. We also have no control over and do not guarantee the existence, quality, safety or legality of items advertised; the truth or accuracy of users' content or listings; the ability of sellers to sell items; the ability of buyers to pay for items; or that a buyer or seller will actually complete a transaction or return an item.</p>
            <p class="paragraph">1.3. Administrator does not pursue actions focused on checking of materials posted by Users and expressly disclaims all responsibilities in relation to materials posted by Users.</p>
            <p class="paragraph">1.4. Administrator prevents infringement of copyright and intellectual property right infringement in the course of using of the Resource and can delete any User material, which infringes intellectual property rights, at its own discretion without prior notice. We also may terminate Users’ access to the Resource, in the event that such Users repeatedly infringe rights or commit any actions in contrast to these Terms and Conditions.</p>
            <p class="paragraph">1.5. We may set limits of active announcements for appropriate columns. The Resource Administrator can render additional services of increasing of a column limit by means of sales of an announcements package.</p>
            <p class="paragraph">1.6. The fees we charge for using our Services are listed on the Resource.</p>

        </main>
        <aside class="social-contact">
            <h2 class="heading">
                Contact Details
            </h2>
            <div class="contact">
                <a href="tel:+234701 085 5839" class="contact-link">
                    <i class="flaticon-phone-receiver"></i>
                    +234 (0) 701 085 5839
                </a>
                <a href="email:info@marketnaija.com" class="contact-link">
                    <i class="flaticon-envelope"></i>
                    info@marketnaija.com
                </a>
                <a href="#" class="contact-link">
                    <i class="flaticon-maps-and-flags"></i>
                    Beside Ojo Local Government,<br> Franklas Junction, <br>Olojo Drive, Lagos
                </a>
            </div>
            <div class="icon-box">
                    <a href="#" ><i class="flaticon-twitter-logo-silhouette"></i></a>
                    <a href="#" ><i class="flaticon-facebook-letter-logo"></i></a>
                    <a href="#" ><i class="flaticon-instagram-logo"></i></a>
                    <a href="#" ><i class="flaticon-linkedin-logo"></i></a>
            </div>
         </aside>
    </div>
</section>
<!-- text-area end -->

</div>
