@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("../../../../assets/custom/marketnaija-icons/font/flaticon.css");
/* globals start*/
.btn{
  width: 115% !important;
  position: relative;
  right: 0px;
}
.alt-image{
  width: 53% !important;
}
.far{
  margin-left: 50%;
}
.confirm-order{
  width: 100% !important;
  position: relative;
  right: 3px;
}
.container {
  max-width: 80%;
}
.product-title{
  position: relative;
  bottom: 23px;
  width: 104%;
  right: 5px;
}
.profile-container{
  width: 99%;
  height: 713px;
  position: relative;

  left: 2px;
}
.update-button{
  width: 72%;
  margin-left: 47px;
  position: relative;
  top: 3px;
}

.form-text{
  width: 72%;
  padding-top: 20px;
}
.date-picker{
  margin-left: 41px;
}
.form-control{
  margin-left: 41px;
  margin-top: 6px;
}
.profile{
  height: 375px !important;
}
.completed-sales-table{
  margin-top: 6%;
}
.store-description{
  margin-left: 36px;
  margin-top: 30px;
}
.store-text{
  width: 124%;
}
.my-container {
  max-width: 1375px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.profile-picture{
  width: 44%;
  position: relative;
  height: 87px;
  bottom: 7px;
  left: 21px;
  display: inline-block;
  margin-top: 11px;
}
.btn-block{
  width: 100% !important;
  position: relative;
  right: 0px;
  border-radius: 1%;
}
.store-banner{
  position: relative;
  margin-right: 32%;
  margin-left: 21px;
  font-family: "Poppins";
  font-size: 16px;
}
.store-ads{
  display: inline-block;
}
.product-ads{
  width: 83%;
}
.form-controls{
  width: 31%;
  display: inline-block;
}
.date{
  width: 100%;
}
.select{
  height: 37px;
  width: 100%;
  margin-left: 39px;
}
.pro{
  position: relative;
  bottom: 56px;
  left: 48%;
}
.store{
  width: 50% !important;
  position: relative;
  left: 14px;
  left: 43px;
  border-radius: 0px;
  top: 12px;
}
.duration{
  position: relative;
  left: 20px;
}
.promote-store{
  width: 28%;
  margin-left: 4px;
  display: inline-block;
}
.promote-product{
  padding-bottom: 20px;
  width: 96%;
  margin-left: 16px;
  margin-top: 6%;
}
.btn-style{
  left: 43px;
  border-radius: 0px;
  top: 12px;
}
.product-label{
  display: inline-block;
  margin-bottom: .5rem;
  padding-right: 11px;
  margin-left: 20px;
}
.promo-label{
  margin-left: 39px;
}
.package-description{
  display: inline-block;
  padding-top: 7px;
}
.select-package{
    margin-left: 9%;
    border: 1px solid #eee;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}
.promote-title{
  padding-left: 29px;
  margin-bottom: 16px;
  margin-left: 10px;
  border-bottom: 1px solid #eee;
  width: 95%;
  padding-top: 8px;

}
.promote-title.demacation{
  border: 1px solid #ccc;
  width: 100%;
}
.c-sales-ads{
  margin-top: 39px;
  font-size: 28px;
  color: #747171;
  font-weight: bold;
  position: relative;
  bottom: 23px;
  left: 23px;
}
.badge-primary{
  position: relative;
  background-color: #ff546e;
  color: #fff;
  white-space: normal;
  display: inline-block;
  height: 28px;
  padding-top: 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  bottom: 3px;
  margin-left: 76.3%;

}
.badge-primary-grey{
  position: relative;
  background-color: #adadad;
  color: #fff;
  white-space: normal;
  display: inline-block;
  height: 28px;
  padding-top: 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  bottom: 11px;
  margin-left: 73.3%;

}
.banner-container{
  border: 1px solid #ccc;
  position: relative;
  bottom: 51px;
  margin-top: 40px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  padding-bottom: 31px;
}
.badge-secondary{
  position: relative;
  left: 40%;
  height: 22px;
  padding-top: 5px;
  top: 32px;
}
.isActive{
  background-color: #FFA500
}
.product-header{
  font-size: 28px;
  color: #747171;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 20px;
}

.tab-title,
.profile-title {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  background: #0069e6;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  margin-bottom: 21px;
}
.clickable{
  cursor: pointer;

}
.clickable:hover{
  color: #0069e6;
}
.title-value{
  width: 70%;
  position: relative;
  right: 3px;
  text-align: left;
  font-size: 14px;
  padding-bottom: 20px;
  top: 6px;
}
.tab-title2 {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  background: #0069e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-title{
  font-size: 20px;
  color: #0069e6;
  font-weight: 900;
  width: 100%;
  position: relative;
  right: 3px;
  top: 20px;
}
.btn{
  width: 100% !important;
}
.company-button,
.vp-button {
  width: 100%;
  padding: 10px 0;
  color: #ffffff;
  background: #0069e6;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
}

.grid-1 {
  background-color: #ffffff;
}


@media (max-width: 992px) {
  .my-container {
    padding: 2%;
  }
  .badge-primary-grey{
    bottom: 3px;
    margin-left: 12.3%;
  }
  .badge-primary{
    bottom: 3px;
    margin-left: 12.3%;
  }
  .banner-container{
    width: 100%;
    margin-left: 0%;
  }
  .profile-picture{
    width: 88%;
  }
}
/* globals end*/
/* nav styles start */
div.m-group2 {
  align-items: center;
}
.dash-button {
  color: #ffffff;
  margin-left: 15px;
  font-size: 14px;
}
div.dropdown button.dropdown-toggle::after {
  content: "";
}
button.dropdown-toggle[aria-expanded="true"].dropdown-toggle::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
}

div.dropdown:first-of-type {
  margin-right: 0;
}

/* nav styles end */
/* marchant-dashbard-start */

.dashboard{
  padding: 100px 0 100px 0 ;
}
.dashboard div.my-container {
  display: grid;
  grid-template-columns: 22% 56% 22%;
  grid-column-gap: 20px;
  justify-content: center;
}
/* grid-1 start */

.company-card {
  text-align: center;
  /* max-width: 270px; */
}
.company-logo {
  object-fit: cover;
  object-position: center;
  height: 170px;
  width: 100%;
}
.company-details {
  margin: 10%;
  width: 80%;
  background-color: #ffffff;
  margin-bottom: 40px;
}
.company-name {
  font-size: 32px;
  color: #000000;
  font-weight: normal;
  padding-top: 27px;
}
.shop-type {
  padding: 0 0 20px 0;
  color: #444040;
  font-size: 14px;
  font-weight: 500;
}
.barrier {
  height: 40px;
  width: 100%;
  background-color: #e5e5e5;
  border: 1ps solid #e5e5e5;
}

/* tabs style start  */
.nav {
  display: grid;
  max-width: 300px;
  align-items: center;
  text-align: center;
  justify-items: center;
  padding: 20px 16px;
  background-color: #ffffff;
  margin-left: 1px;
  margin-right: 11px;
  width: 100%;
}
.grid-1 ul li.nav-item {
  width: 100%;
  margin-right: 0;
}
ul li.nav-item {
  border-bottom: 1px solid rgba(196, 196, 196, 0.46);
}
ul li.nav-item a.nav-link.active {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: rgba(196, 196, 196, 0.32);
  color: #444040;
  width: 100%;
}
ul li.nav-item a.nav-link {
  color: #444040;
}
div.tab-content {
  background-color: #ffffff;
}

/* tabs style end  */
/* grid-1 end */

/* grid-2 start */
.grid-2 {
  width: 149%;
  font-family: "Nunito";
  background-color: #ffffff;
}
.dashboard-container {
  padding: 24px 20px 50px 20px;
}
.product-container{
  margin: 4%;
}
.add-button{
  width: 35%;
  position: relative;
  left: 64.6%;
  bottom: 7px;
}
.table-container{
  margin-right: 20px;
  margin-left: 20px;
}
.product-pill{
  margin-top: 20px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
  position: relative;
  width: 31%;
  margin-left: 12px;
  padding-bottom: 35px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.dash-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid rgba(181, 195, 194, 0.43);
  margin-bottom: 110px;

}
.dash-card {
  display: flex;
  flex-direction: column;
  /* min-width: 220px; */
  text-align: center;
}
.dash-case {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 24px 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(181, 195, 194, 0.43);
  height: 215px;
}
.dc1,
.dc2 {
  border-right: 1px solid rgba(181, 195, 194, 0.43);
}
.dash-card a {
  color: #000000;
  font-size: 15px;
}
.dash-card a:hover,
.dash-card a:active {
  color: #000000;
}
.card-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 35px;
  padding-left: 54px;
  padding-top:11px;
  text-align: right;
}
.card-footer {
  padding-top: 22px;
}
.card-text {
  padding-left: 22px;
  font-weight: 600;
  font-size: 25px;
  text-align: right;
}
.dashboard-card__container{
  margin-bottom: 12%;
}
.card-body {
  padding-top: 38px;
}
.product-text{
  padding-left: 42px;
}
.customer-text{
  padding-left:35px;
}
.sales{
  padding-left:38px;
}
.dash-figures {
  display: flex;
  padding-left: 46px;
}
.sales-text {
  padding-left: 67px;
}
.cards-container {
  display: inline-block;
  position: relative;
  max-width: 15rem;
  margin-left: 21px;
  /* height: 225px; */
  width: 33%;
  right: 2px;
}

.fig-1,
.fig-2 {
  display: flex;
  flex-direction: column;
}
.fig-2 {
  margin-left: 36px;
}
.fig-1 {
  margin-left: 20px;
  width: 59%;
}
.f1 {
  margin-bottom: 15px;
  color: #000000;
  font-size: 12px;
}
.f2 {
  color: #0069e6;
  font-size: 35px;
  font-weight: 600;
}
.f1,
.f2 {
  white-space: nowrap;
}

.c-sales {
  font-size: 28px;
  color: #747171;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 20px;
}
.table-head,
.table-data {
  border-bottom: 0.5px solid #adadad;
}
.table-head {
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #eee;
}
.table-data {
  padding: 12px 0;
  padding-left: 20px;
}
.table-cases{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  grid-column-gap: 8%;
}
.table-case {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-column-gap: 16%;
}
.customer-table{
  grid-column-gap: 18%;
}
.thead-dark{
  grid-column-gap: 17% !important;
}
span.tb {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  width: 176%;
  position: relative;
  top: 14px;
}
.td1 a {
  font-size: 14px;
  color: #0069e6;

}

.td1,
.td2,
.td3 {
  display: inline-block;
  text-align: left;

}
.td2,
.td3 {
  color: #444040;
  font-size: 14px;
}

@media (max-width: 800px) {
  .dash-feed {
    display: flex;
    border: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dash-case {
    min-width: 300px;
    margin-top: 20px;
    border: 1px solid rgba(181, 195, 194, 0.43);
  }
  .promote-product{
    width: 90%;
  }
  .btn-style{
    left: 27px;
  }
  .form-controls{
    display: table;
    width: 89%;
  }
  .form-control{
    margin-left: 39px;
  }
}
.company-button{
  margin-bottom: 20px;
}
.amount{
  border-radius: 0%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width:  90%;
  margin-left: 20px;
}
/* grid-2 end */
/* grid-3 start */

.profile-stats-container {
  max-width: 270px;
  background-color: #ffffff;
}
.profile-card {
  padding: 20px;
  background-color: #ffffff;
}
.profile-stats {
  padding: 20px 0 15px 0;
}

.profile-stats:not(:last-child) {
  border-bottom: 1px solid rgba(196, 196, 196, 0.46);
}
.profile-stats span {
  display: inline-block;
}
.stats-titles {
  display: flex;
  align-items: center;
}
.profile-info {
  font-weight: 600;
  font-size: 14px;
  color: rgba(9, 9, 9, 0.86);
  margin-right: auto;
}
.profile-update {
  font-size: 12px;
  color: rgba(9, 9, 9, 0.86);
  border-radius: 1px;
  font-weight: normal;
}

@media (max-width: 992px) {
  .dashboard div.my-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .dashboard .my-container .grid-1,
  .dashboard .my-container .grid-2,
  .dashboard .my-container .grid-3 {
    background-color: unset;
  }
  .promote-store{
    width: 70%;
    margin-bottom: 11px;
    margin-left: -5px;
  }
  .barrier {
    display: none;
  }
  .dashboard div.my-container .grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: flex-start;
    grid-gap: 20px;
  }
  .company-details {
    margin-bottom: 0;
    padding-bottom: 23px;
    width: 90%;
    margin: 5%;
  }

  .nav {
    max-width: unset;
    margin-bottom: 0 !important;
  }
  .profile-stats-container {
    max-width: 100%;
  }

}

@media (max-width: 600px) {
  .dashboard div.my-container .grid-1 {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .grid-2{
    width: 103%;
  }
  .product-container{
    margin: 8%;
  }
  .card{
    margin-left: 19px;
  }
  .table{
    overflow-x: auto;
    /* width: 224%;
    max-width: 139%; */

  }
  .tab-title{
    padding-left: 41px;
  }

.profile-stats-container{
  margin-left: 7%;
  max-width: 85%;
}
}

/* grid-3 end */

/* marchant-dashbard-end*/

/* dashboard-layout start */

section.dashboard-layout div.my-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 30px;
}
section.dashboard-layout div.my-container .grid-2 .tab-content {
  padding-top: 38px;
}
/* div.avi-card {
    display: flex;
    align-items: center;
    padding: 40px 20px;
}
div.avi-card img.avi {
    margin-right: 15px;
} */
span.account-info {
  display: inline-block;
  flex-direction: column;
}

span.account-info .account-name {
  color: #000000;
  font-size: 15px;
  margin-bottom: 4px;
}
span.account-info .account-type {
  color: #adadad;
  font-size: 15px;
}
div.dashnavs ul.nav {
  padding: 0;
  max-width: unset;
}
div.dashnavs ul.nav li.nav-item {
  text-align: left;
}
div.dashnavs ul.nav li.nav-item a.nav-link {
  text-align: left;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}
/* nav-arrow effect start */
div.dashnavs ul.nav li.nav-item a.nav-link::after {
  content: "\f10d";
  font-family: Flaticon;
  font-style: normal;
  font-size: 10px;
}

/* nav-arrow effect end */
div.dashnavs ul.nav li.nav-item a.nav-link.active {
  background-color: #747171;
  color: #ffffff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
section.dashboard-layout div.my-container div.grid-2 {
  background-color: unset;
  font-family: "Poppins";
}
section.dashboard-layout div.my-container div.grid-2 .tab-content {
  background-color: unset;
}
div.tab-description {
  margin-bottom: 20px;
  padding-left: 20px;
}
div#inc {
  background-color: #ffffff;
}

/* dashboard-cards styles start */
.dash-feed2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Nunito";
  margin-bottom: 50px;
}
.dash-card2 {
  border: 1px solid rgba(181, 195, 194, 0.43);
  padding: 50px 20px 24px 20px;
}
.dash-card2:not(:last-of-type) {
  border-right: 0.5px solid rgba(181, 195, 194, 0.43);
}
div.dash-card2 div.dash-figures {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.dash-figures .fig-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
div.dash-figures .fig-3 {
  margin-bottom: 20px;
}
.fig-4 .card-title2 {
  font-weight: bold;
  font-size: 20px;
  color: #747171;
  margin-bottom: 20px;
}
.fig-4 .f3 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #005983;
}
@media (max-width: 768px) {
  .badge-primary-grey{
    bottom: 3px;
    margin-left: 12.3%;
  }
  .dash-feed2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  div.dash-card2 {
    max-width: 300px;
    margin-bottom: 20px;
    width: 100%;
  }
  .dash-card2:not(:last-of-type) {
    border-right: 1px solid rgba(181, 195, 194, 0.43);
  }
}

/* dashboard-cards styles end */
/* complete-sales section style start */
.completed-sales .tab-title2 {
  margin-bottom: 50px;
}
.more {
  background-color: unset;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.more img {
  width: 100%;
  height: 100%;
}
.complete-sales-table {
  padding: 0 15px;
}
.complete-sales-table .table-head,
.complete-sales-table .table-data {
  padding: 15px 20px;
}
.complete-sales-table .table-head .table-case,
.complete-sales-table .table-data .table-case {
  display: grid;
  grid-template-columns: [image] 54px [name] 127px [advertiser] 103px [start-date] 110px [stop-date ] 114px [web-link] 138px [state] 123px [end-block]!important;
  align-items: center;
  grid-column-gap: 40px;
  max-width: unset;
  text-align: left;
}
img.mini-pic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.complete-sales-table .table-head .table-case span {
  color: #000000;
  font-size: 15px;
}
.complete-sales-table .table-data .table-case span {
  font-size: 14px;
  color: #444040;
}
.complete-sales-table{
  margin-top: 30%;
}
@media (max-width: 1120px) {
  .completed-sales-table {
    overflow-x: auto;
    width: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .sales-table{
    width: 184%;
    padding-bottom: 104px;
}
  .complete-sales-table::-webkit-scrollbar {
    display: none;

  }
  .complete-sales-table .table-data,
  .complete-sales-table .table-head {
    border-bottom: none;
  }
  .card{
    width: 85%;
    margin-top: 39px;
  }
  .amount{
    margin-left: 12px;
  }
}

/* complete-sales section style end */
/* dashboard-layout end */

/* product-details table start */
.product-details .tab-title2 {
  margin-bottom: 20px;
}
.product-details-table .table-head {
  background-color: #e3e8ea;
  color: #444040;
}
.product-details-table .table-head,
.product-details-table .table-data {
  padding: 15px 20px;
}
.product-details-table .table-head .table-case,
.product-details-table .table-data .table-case {
  display: grid;
  grid-template-columns: [listing] 54px [name] 180px [phone] 180px [status] 120px [pd-end ];
  align-items: center;
  grid-column-gap: 40px;
  max-width: unset;
  text-align: left;
}

.product-details-table .table-head .table-case span {
  color: #444040;
  font-size: 14px;
}
.product-details-table .table-data .table-case span {
  font-size: 14px;
  color: #444040;
}
.table-case .td8 {
  justify-self: center;
}
.table-case .td9 .cname {
  font-size: 15px;
  color: #000000;
}
.table-case .td9 .clocation {
  color: #444040;
  font-size: 14px;
}
.table-head .td11 {
  justify-self: center;
}
.table-case .td11 .status {
  padding: 5px 30px;
  text-align: center;
  width: 111px;
  color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
@media (max-width: 1120px) {
  .product-details-table {
    overflow-x: auto;
    width: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .product-details-table::-webkit-scrollbar {
    display: none;
  }
  .product-details-table .table-head {
    background-color: unset;
  }
  .product-details-table .table-data,
  .product-details-table .table-head {
    border-bottom: none;
  }
}

/* product-details table end */

/* mechant start */
.merchants .tab-title2 {
  margin-bottom: 20px;
}
.merchants-table .table-head {
  background-color: #e3e8ea;
  color: #444040;
}
.merchants-table .table-head,
.merchants-table .table-data {
  padding: 15px 20px;
}
.merchants-table .table-head .table-case,
.merchants-table .table-data .table-case {
  display: grid;
  grid-template-columns: [select] 54px [user] 54px [name] 180px [phone] 100px [username] 120px [reviews] 60px [mch-end];
  align-items: center;
  grid-column-gap: 40px;
  max-width: unset;
  text-align: left;
}

.merchants-table .table-head .table-case span {
  color: #444040;
  font-size: 14px;
}
.merchants-table .table-data .table-case span {
  font-size: 14px;
  color: #444040;
}

.table-case .td9 .cname {
  font-size: 15px;
  color: #000000;
}
.table-case .td9 .clocation {
  color: #444040;
  font-size: 14px;
}
.table-head .td13,
.table-case .td13 {
  justify-self: center;
}
.table-case .td12,
.table-head .td16,
.table-case .td16,
.table-head .td17,
.table-case .td17 {
  justify-self: center;
}
.table-case .td12 form input[type="checkbox"] {
  width: 22px;
  height: 22px;
}

.table-case .td17 .greens {
  padding: 5px 10px;
  text-align: center;
  width: 45px;
  color: #ffffff;
  background-color: #28b446;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
@media (max-width: 1120px) {
  .merchants-table {
    overflow-x: auto;
    width: 100%;
    padding-left: 4px;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .merchants-table::-webkit-scrollbar {
    display: none;
  }
  .merchants-table .table-head {
    background-color: unset;
  }
  .merchants-table .table-data,
  .merchants-table .table-head {
    border-bottom: none;
  }
}

/* dashlayout grid-queries start */
@media (max-width: 1180px) {
  body section.dashboard-layout div.my-container {
    display: block;
  }
  div.dashnavs ul.nav li.nav-item a.nav-link::after {
    content: "\f10c";
    font-family: Flaticon;
    font-style: normal;
    font-size: 10px;
  }
}

/* dashlayout grid-queries end */

/* mechant end */
