<div class="container">
  <section class="dashboard">
    <div class="my-container">
      <div class="grid-1">
        <div class="company-card"  (deferLoad)="storeImage != null">
          <img src="{{storeImage}}" alt="" class="company-logo" *ngIf="storeImage">
          <img src="../../../assets/custom/images/default-store.png" class="company-logo alt-image" alt="" *ngIf="!storeImage">
          <div class="company-details">
            <h3 class="company-name">{{stores?.storeName}}</h3>
            <div class="shop-type">{{stores?.storeType}}</div>
            <form *ngIf="onClickWallet">
              <div class="form-group">

                <input type="number" class="form-control amount" placeholder="Amount to pay" (keyup)="onKey($event)" />
              </div>
              <angular4-paystack class="company-button" (click)="openPaystack()" [key]="testKey" [email]="email"
                [amount]="actualPrice" [ref]="reference" [channels]="[paymentMethod]" [class]="'btn btn-primary'"
                (close)="paymentCancel()" (callback)="paymentDone($event)">Fund Wallet</angular4-paystack>
            </form>

            <button class="btn btn-primary company-button" (click)="onClickFundWallet()" *ngIf="!onClickWallet">Fund
              Wallet</button>
          </div>
        </div>
        <div class="barrier"></div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard" role="tab"
              aria-controls="pills-dashboard" aria-selected="true">My Dashboard</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
              aria-controls="pills-profile" aria-selected="false">My Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-products-tab" data-toggle="pill" href="#pills-products" role="tab"
              aria-controls="pills-products" aria-selected="false" (click)="getDashboardData()">My Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-markets-tab" data-toggle="pill" href="#pills-markets" role="tab"
              aria-controls="pills-markets" aria-selected="false">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-salesreport-tab" data-toggle="pill" href="#pills-salesreport" role="tab"
              aria-controls="pills-salesreport" aria-selected="false">My Profile</a>
          </li>
        </ul>
      </div>
      <div class="grid-2" *ngIf="stores">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel"
            aria-labelledby="pills-dashboard-tab">
            <div class="tab-title">
              My Dashboard
            </div>
            <div class="dashboard-container">
              <div>
                <div class="card">

                  <div class="container">

                    <div class="title-value"><span>&#8358;</span> {{balance?(balance):0}}</div>
                    <div class="container-title">WALLET</div>
                  </div>
                </div>
                <div class="card">

                  <div class="container">

                    <div class="title-value">{{customerCount}}</div>
                    <div class="container-title ">Customers</div>
                  </div>
                </div>
                <div class="card">

                  <div class="container">

                    <div class="title-value">{{orderCount}}</div>
                    <div class="container-title ">ORDERS</div>
                  </div>
                </div>
              </div>
              <div class="completed-sales-table">
                <h3 class="c-sales">Completed Sales</h3>
                <div class="sales-table">
                    <div class="table-head">
                      <div class="table-cases">
                        <span class="td1 tb">Product</span>
                        <span class="td2 tb">Price</span>
                        <span class="td3 tb">Buyer</span>
                        <span class="td1 tb">Phone</span>
                        <span class="td2 tb">Address</span>
                        <span class="td3 tb">Status</span>
                      </div>
                    </div>
                    <div class="table-data" *ngFor="let order of confirmedOrders; let i = index;">
                      <div class="table-cases">
                        <span class="td1">{{confirmedOrderProducts[i]?.productName}}</span>
                        <span class="td2">{{confirmedOrderProducts[i]?.price}}</span>
                        <span class="td3">{{confirmedOrderCustomer[i]?.username}}</span>
                        <span class="td1">{{confirmedOrderCustomer[i]?.phoneNumber}}</span>
                        <span class="td2">{{confirmedOrderCustomer[i]?.address}}</span>
                        <span class="td3">{{order?.orderStatus}}</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
          >
            <div class="tab-title">
              My Shop
            </div>
            <div class="dashboard-container">
              <div>
                <div class="card">

                  <div class="container">

                    <div class="title-value">₦ {{balance?(balance):0}}</div>
                    <div class="container-title">Wallet</div>
                  </div>
                </div>
                <div class="card">

                  <div class="container">

                    <div class="title-value">{{productCount}}</div>
                    <div class="container-title ">Products</div>
                  </div>
                </div>
                <div class="card">

                  <div class="container">

                    <div class="title-value">{{orderCount}}</div>
                    <div class="container-title ">Orders</div>
                  </div>
                </div>
              </div>
              <div class="completed-sales-table">
                <h3 class="c-sales">Orders</h3>
                <div class="sales-table">
                  <div class="table-head">
                    <div class="table-cases">
                      <span class="td1 tb">Product</span>
                      <span class="td2 tb">Price</span>
                      <span class="td3 tb">Buyer</span>
                      <span class="td1 tb">Phone</span>
                      <span class="td2 tb">Address</span>
                      <!-- <span class="td3 tb">Order Status</span> -->
                    </div>
                  </div>
                  <span class="far clickable td4" *ngIf="confirmLoad"><i class="fa fa-spinner fa-spin fa-fw"
                   ></i></span>
                  <div class="table-data" *ngFor="let order of pendingOrders; let i = index;">
                    <div class="table-cases">
                      <span class="td1">{{pendingOrderProducts[i]?.productName}}</span>
                      <span class="td2">{{pendingOrderProducts[i]?.price}}</span>
                      <span class="td3">{{pendingOrderCustomer[i]?.username}}</span>
                      <span class="td1">{{pendingOrderCustomer[i]?.phoneNumber}}</span>
                      <span class="td2">{{pendingOrderCustomer[i]?.address}}</span>
                      <span class="td3"><button class="btn btn-small btn-success confirm-order"
                          (click)="confirmOrder(order.orderId, i)">Confirm</button></span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="completed-sales-table">
                <h3 class="c-sales-ads">Promotions</h3>
                <!-- <div class="add-button"><button class="btn btn-primary btn-sml" (click)="openProductModal()">Promote Store</button></div> -->
                <div class=banner-container>
                  <h3 ><span class="badge badge-primary" *ngIf="storeAdsIsActive || adsIsActive">Promo Active</span></h3>
                  <h3 ><span class="badge badge-primary-grey" *ngIf="!storeAdsIsActive && !adsIsActive">Promo InActive</span></h3>
                  <div>
                    <div class="promote-store">
                      <button class="store btn btn-primary " (click)="promoteStore()">Promote Store</button>
                    </div>
                    <div class="promote-store">
                      <button class="store btn btn-primary " (click)="promoteProduct()">Promote Product</button>
                    </div>
                    <div class="promote-store">
                      <button class="store btn btn-primary " (click)="promoteDiscount()">Promote Discount</button>
                    </div>
                  </div>
                  <div class="promote-product">
                    <form [formGroup]="promoteStoreForm" (ngSubmit)="postStoreAds()" *ngIf="showStoreAds">
                      <div class="promote-title">Promote Store</div>
                      <div class="product-ads">

                        <div class="form-group rows">

                          <label for="" class="promo-label">Select Promo Package</label>
                          <select name="promo-package" id="" (change)="getSelectedPromoPackage($event)"
                            class="select form-control" formControlName="PromotionId">
                            <option disabled selected value> --Select-- </option>
                            <option *ngFor="let promo of promotionPackage; let i = index;" value="{{promo.promotionId}}"
                              [ngValue]="promo">{{promo.packageName}}</option>
                          </select>
                          <div *ngIf="showSelectedPackage" class="select-package">
                            <div>
                              <div class="package-description">Package Name: {{selectedPackage.packageName}}</div>
                            </div>
                            <div>
                              <div class="package-description">Start Date: {{adsStartDate}}</div>
                            </div>
                            <div>
                              <div class="package-description">End Date: {{endAdsDate}}</div>
                            </div>
                            <div>

                              <div class="package-description">Price: ₦ {{selectedPackage.price}}</div>
                            </div>
                          </div>
                          <button class="btn btn-primary btn-style" *ngIf="showSelectedPackage">Send Request</button>
                        </div>
                      </div>
                    </form>


                    <form [formGroup]="promoteProductForm" (ngSubmit)="postProductAds()" *ngIf="showProductAds">
                      <div class="promote-title">Promote Products</div>
                      <div class="product-ads">
                        <div class="form-group rows">
                          <label for="" class="promo-label">Select Product</label>
                          <select name="promo-package" id="" class="select form-control" formControlName="productId"
                            (change)="getselectedProduct($event)">
                            <option disabled selected value> --Select-- </option>
                            <option *ngFor="let product of noProductDiscount; let i = index;" value="{{product.productId}}"
                              >{{product.productName}}</option>
                          </select>

                        </div>
                        <div class="form-group rows" *ngIf="isSelectedProduct">
                          <label for="" class="promo-label">Select Promo Package</label>
                          <select name="promo-package" id="" (change)="getSelectedPromoProductPackage($event)"
                            class="select form-control" formControlName="PromotionId">
                            <option disabled selected value> --Select-- </option>
                            <option *ngFor="let promo of promotionPackage; let i = index;" value="{{promo.promotionId}}"
                              [ngValue]="promo" >{{promo.packageName}}</option>
                          </select>

                          <div *ngIf="showSelectedProductPromoPackage" class="select-package">
                            <div>
                              <div class="package-description">Product Name: {{promoProduct.productName}}</div>
                            </div>
                            <div>
                              <div class="package-description">Package Name: {{selectedPackage.packageName}}</div>
                            </div>
                            <div>
                              <div class="package-description">Start Date: {{adsStartDate}}</div>
                            </div>
                            <div>
                              <div class="package-description">End Date: {{endAdsDate}}</div>
                            </div>
                            <div>

                              <div class="package-description">Price: ₦ {{selectedPackage.price}}</div>
                            </div>
                          </div>


                        </div>
                        <button class="btn btn-primary btn-style" *ngIf="showSelectedProductPromoPackage">Send
                          Request</button>
                      </div>

                    </form>
                    <form [formGroup]="promoteDiscountForm" (ngSubmit)="postDiscountAds()" *ngIf="showDiscountAds">
                      <div class="promote-title">Promote Discounts</div>
                      <div class="product-ads">
                        <div class="form-group rows">
                          <label for="" class="promo-label">Select Product</label>
                          <select name="" id="" class="select form-control" formControlName="productId" (change)="getDiscountPromoProduct($event)">
                              <option disabled selected value> --Select-- </option>
                            <option *ngFor="let product of productDiscount; let i = index;"
                              value="{{product.productId}}" selected>{{product.productName}}</option>
                          </select>
                        </div>

                        <div class="form-group rows" *ngIf="isSelectedDiscount">
                          <label for="" class="promo-label">Select Promo Package</label>
                          <select name="promo-package" id="" (change)="getSelectedPromoDiscountPackage($event)"
                            class="select form-control" formControlName="PromotionId">
                            <option disabled selected value> --Select-- </option>
                            <option *ngFor="let promo of promotionPackage; let i = index;" value="{{promo.promotionId}}"
                              [ngValue]="promo" selected>{{promo.packageName}}</option>
                          </select>

                          <div *ngIf="showSelectedDiscountPromoPackage" class="select-package">
                            <div>
                              <div class="package-description">Product Name: {{promoDiscount.productName}}</div>
                            </div>
                            <div>
                              <div class="package-description">Package Name: {{selectedPackage.packageName}}</div>
                            </div>
                            <div>
                              <div class="package-description">Start Date: {{adsStartDate}}</div>
                            </div>
                            <div>
                              <div class="package-description">End Date: {{endAdsDate}}</div>
                            </div>
                            <div>

                              <div class="package-description">Price: ₦ {{selectedPackage.price}}</div>
                            </div>
                          </div>


                        </div>
                        <button class="btn btn-primary btn-style" *ngIf="showSelectedDiscountPromoPackage">Send
                          Request</button>

                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade " id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
            <div class="dashboard-container">
              <div class="tab-title products-title">
                Products
              </div>
              <div>
                <div class="card">

                  <div class="container">

                    <div class="title-value">₦ {{balance?(balance):0}}</div>
                    <div class="container-title">Wallet</div>
                  </div>
                </div>
                <div class="card">

                  <div class="container">

                    <div class="title-value">{{customerCount}}</div>
                    <div class="container-title ">Customers</div>
                  </div>
                </div>
                <div class="card">

                  <div class="container">

                    <div class="title-value">{{orderCount}}</div>
                    <div class="container-title ">ORDERS</div>
                  </div>
                </div>
              </div>

              <div class="completed-sales-table">
                <div class="product-header"></div>
                <div class="add-button"><button class="btn btn-primary btn-sml" (click)="openProductModal()">Add
                    Products</button></div>
                <div class="sales-table">
                  <div class="table-head">
                    <div class="table-case thead-dark">
                      <!-- <span class="td1 tb">Id</span> -->
                      <span class="td1 tb">Product</span>
                      <span class="td2 tb">Category</span>
                      <span class="td3 tb">Brand</span>
                      <span class="td4 tb"></span>

                    </div>
                  </div>
                  <div class="table-data" *ngFor="let product of products; let i = index;">
                    <div class="table-case">
                      <!-- <span class="td1">{{product.productId}}</span> -->
                      <span class="td1">{{product.productName}}</span>
                      <span class="td2">{{product.category}}</span>
                      <span class="td3">{{product.category}}</span>
                      <!-- <span class="far fa-edit clickable " (click)="editProduct()"></span> -->
                      <span class="far clickable td4" (click)="delete(product.productId, i)"><i class="fa fa-trash"
                          aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <!-- <div class="table-data">
                                <div class="table-case">
                                    <span class="td1"><a href="">cvbng</a></span>
                                    <span class="td2">E store</span>
                                    <span class="td3">24 April 2019</span>
                                    </div>
                                </div>
                            <div class="table-data">
                                <div class="table-case">
                                    <span class="td1"><a href="">dretyfh</a></span>
                                    <span class="td2">E store</span>
                                    <span class="td3">30 April 2019</span>
                                    </div>
                                </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-markets" role="tabpanel" aria-labelledby="pills-markets-tab">
            <div class="dashboard-container">
              <div class="tab-title products-title">
                Customers
              </div>
              <div class="completed-sales-table">
                <div class="product-header"></div>
                <div class="sales-table">
                  <div class="table-head">
                    <div class="table-case thead-dark">
                      <span class="td1 tb">Name</span>
                      <span class="td2 tb">Address</span>
                      <span class="td3 tb">Email</span>
                      <span class="td3 tb">Phone</span>
                      <span class="td3 tb"></span>
                    </div>
                  </div>
                  <div class="table-data" *ngFor="let customer of customers; let i = index;">
                    <div class="table-case customer-table">
                      <span class="td1">{{customer.user.username}}</span>
                      <span class="td2">{{customer.user.address}}</span>
                      <span class="td3">{{customer.user.email}}</span>
                      <span class="td3">{{customer.user.phoneNumber}}</span>
                      <!-- <span class="far fa-edit clickable" (click)="editProduct()"></span> -->
                      <!-- <span class="far clickable" (click)="deleteCustomer(customer.customerId, i)"><i class="fa fa-trash"
                        aria-hidden="true"></i></span> -->
                    </div>
                  </div>
                  <!-- <div class="table-data">
                              <div class="table-case">
                                  <span class="td1"><a href="">cvbng</a></span>
                                  <span class="td2">E store</span>
                                  <span class="td3">24 April 2019</span>
                                  </div>
                              </div>
                          <div class="table-data">
                              <div class="table-case">
                                  <span class="td1"><a href="">dretyfh</a></span>
                                  <span class="td2">E store</span>
                                  <span class="td3">30 April 2019</span>
                                  </div>
                              </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-salesreport" role="tabpanel" aria-labelledby="pills-salesreport-tab">
            <div class="tab-title">
              Merchant Profile
            </div>
            <div class="dashboard-container">

              <div class="profile-container">
                <form [formGroup]="updateStoreForm" (ngSubmit)="updateStoreProfile()">
                  <div class=banner-container>
                    <label for="store-banner" class="store-banner">Store Banner:</label>
                    <div class=profile-picture>
                      <img src="data:image/jpeg;base64,{{storeImage}}" alt="" class="company-logo">
                      <div class="btn btn-primary btn-block" (click)="PhotoInput.click()">
                        Edit Store Banner  <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></div>
                      <input hidden type="file" #PhotoInput (change)="uploadStorePhoto($event)">
                    </div>
                  </div>
                  <div class="banner-container profile">
                    <div class="form-group form-text">

                      <div class="form-control">
                        <input type="text" placeholder="Store Name" formControlName="storeName">
                      </div>

                      <div class="form-control">

                        <input type="text" placeholder="Store Address" formControlName="address">
                      </div>

                      <div class="form-control">

                        <input type="text" placeholder="Store Phone" formControlName="phoneNumber">
                      </div>
                      <div class="store-description">
                        <textarea name="" id="" rows="3" placeholder="Store Description" class="store-text"
                          formControlName="description"></textarea>
                      </div>
                    </div>
                    <div class="update-button">
                      <button class="btn btn-primary">Update Profile<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="grid-3">
        <div class="profile-stats-container">
          <div class="profile-title">
            Profile Completion
          </div>
          <div class="profile-card">
            <div class="profile-stats">
              <div class="stats-titles">
                <span class="profile-info">Basic Information</span>
                <span class="profile-percentage">100%</span>
              </div>
              <div class="profile-update">
                Please complete the basic information in your business profile.
              </div>
            </div>
            <div class="profile-stats">
              <div class="stats-titles">
                <span class="profile-info">Business Information</span>
                <span class="profile-percentage">40%</span>
              </div>
              <div class="profile-update">
                Please complete the business information in your business profile.
              </div>
            </div>
            <div class="profile-stats">
              <div class="stats-titles">
                <span class="profile-info">Working Hours</span>
                <span class="profile-percentage">50%</span>
              </div>
              <div class="profile-update">
                Please update the working hours in your business profile.
              </div>
            </div>
            <div class="profile-stats">
              <div class="stats-titles">
                <span class="profile-info">Photo Gallery</span>
                <span class="profile-percentage">40%</span>
              </div>
              <div class="profile-update">
                Your have not uploaded any images to your business profile.
              </div>
            </div>
            <div class="profile-stats">
              <div class="stats-titles">
                <span class="profile-info">Social Media</span>
                <span class="profile-percentage">100%</span>
              </div>
              <div class="profile-update">
                Your social media links have not been updated in your profile.
              </div>
            </div>
            <div class="profile-stats">
              <div class="stats-titles">
                <span class="profile-info">Google Map</span>
                <span class="profile-percentage">40%</span>
              </div>
              <div class="profile-update">
                Your have yet to integrate google maps in your business profile.
              </div>
            </div>
            <div class="profile-stats">
              <div class="stats-titles">
                <span class="profile-info">Services Offered</span>
                <span class="profile-percentage">100%</span>
              </div>
              <div class="profile-update">
                Please update your services list in your business profile.
              </div>
            </div>
          </div>
          <button class="vp-button">View Profile</button>
        </div>
      </div> -->
    </div>
  </section>
</div>
<!-- dashboard end -->
