<div class="modal-container">
<div class="modal-header">
  <h4 class="modal-title"></h4>
  <button type="button" class="close"  (click)="activeModal.dismiss('Cross click')">&times;
  </button>
</div>

<form [formGroup]="merchantForm" (ngSubmit)="registerStore()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="firstName" class="label-title">First Name</label>
        <input type="text"
          class="form-control"
          formControlName="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName" class="label-title">Last Name</label>
        <input type="text"
          class="form-control"
          formControlName="lastName" />
      </div>
      <div class="form-group">
        <label for="storeType" class="label-title">Store Type</label>
        <select class="form-control"  formControlName="storeType" (change)="getStoreType($event.target.value)">
            <option disabled selected value> --Select-- </option>
        <option value="online store" >E-Store</option>
        <option value="physical store" >Physical Store</option>
      </select>
    </div>
      <div class="form-group" *ngIf="showBusinessLocation">
        <label for="market" class="label-title">Business location</label>
        <select class="form-control" id="sel1" formControlName="marketId">
            <option disabled selected value> --Select-- </option>
          <option value="{{market.marketId}}" *ngFor="let market of marketData">{{market.marketName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="storename" class="label-title">Business Name</label>
        <input type="text"
          class="form-control"
          formControlName="storeName"
      />
      </div>

      <div class="form-group" *ngIf="showBusinessLocation">
        <label for="address" class="label-title">Business Address</label>
        <input type="text"
          class="form-control"
          formControlName="address" />
      </div>
      <div class="form-group" *ngIf="!showBusinessLocation && allowReg">
        <label for="address" class="label-title">Business City</label>
        <input type="text"
          class="form-control"
          formControlName="address" />
      </div>
      <div class="form-group" *ngIf="allowReg">
        <label for="email" class="label-title"> Email</label>
        <input type="text"
          class="form-control"
          formControlName="email" />
      </div>
      <div class="form-group" *ngIf="allowReg">
        <label for="phonenumber" class="label-title">Phone</label>
        <input type="text"
          class="form-control"
          formControlName="phoneNumber" />
      </div>
    </div>
  </div>

  <div class="modal-footer" *ngIf="allowReg">
    <button class="btn btn-primary"
     >
      Submit Form
    </button>
  </div>
</form>

</div>
