.label-title{
  padding-top: 10px;
  padding-left: 43px;
}
.form-control{
  width: 80% !important;
  margin-left: 43px;
}
.modal-container{
  width: 90%;
  margin-left: 20px;
}
.container{
  width: 109%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: -29px;
}
.modal-body{
  padding-bottom: 42px;
}
