body {
  background: #ffffff;
}


/* main slider styling  */
.main-slider .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.c-grid {
  display: grid;
  grid-template-columns: 5% 90% 5%;
}
.min-h{
  min-height: 220px;
  object-fit: cover;
  object-position: center;
}
.cursor{
  cursor: pointer;
}
.carousel-caption {
  bottom: unset;
  top: 50%;
  margin-top: -117px;
  text-align: left;
  padding: 0;
}
.carousel-caption .sbttn {
  padding: 5px 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-weight: 500;
}
.carousel-caption h2 {
  font-weight: bold;
  font-size: 45px;
  margin: 20px 0;
}
.carousel-caption p {
  font-size: 14px;
  margin-bottom: 25px;
}
.mgr {
  margin-right: 20px;
}
.carousel-control-prev,
.carousel-control-next {
  width: unset !important;
  position: static !important;
  align-self: center;
  justify-self: center;
}

@media(max-width:1440px){
  .main-slider .container {
      max-width: 100%;
  }

}


@media(min-width:767px){
  .min-h {
      min-height: 340px !important;
  }

}
@media(max-width:767px){
   .carousel-control-next,
  .carousel-control-prev {
      display: none !important;
  }
  .c-grid {
      grid-template-columns: 1fr;
  }

}


/* main slider styling-end  */


/* discount,features and Products shop stylings start */
.features,.discounts,.products {
  padding: 60px 0
}
.discounts {
background-color: #EBF1F1;
}
.products {
  background-color: #F4F4F4;

}
.heading h6{
font-size: 14px;
color: #C8C8C8;
font-weight: normal;
text-align: center;
margin-bottom: 20px;
}
.heading h3{
  font-weight: 600;
  font-size: 24px;
  color: #21293C;
  text-align: center;
  margin-bottom: 15px;
}
.page-linker {
  text-align: right;
  padding-bottom: 15px;
}

.page-linker .see-all {
  font-size: 16px;
}

.darker {
  position: static !important;
  margin-bottom: 60px
}

.card-container {
  position: relative;
}

.card-container:focus .move-left{
  opacity: 1;
  transition: all ease-in 300ms;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
}
span.move-left,span.move-right {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  background-color: transparent;
  justify-content: center;
  opacity: 0;
  transition: all ease-in 300ms;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
  z-index: 200;
}
span.active4{
  opacity: 1;
  transition: all ease-out 300ms;
  -webkit-transition: all ease-out 300ms;
  -moz-transition: all ease-out 300ms;
  -ms-transition: all ease-out 300ms;
  -o-transition: all ease-out 300ms;
}
.move-left{
  left: 0;
}
.move-right {
  right: 0;
}
.move-left i.flaticon-arrow-point-to-right::before {
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}
.move-right i.flaticon-arrow-point-to-right::before,
.move-left i.flaticon-arrow-point-to-right::before {
  content: "\f106 ";
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  color: #0069E6;
  background-color: #272723;
  padding: 10px;
  opacity: 0.7;
  top: 50%;
  float: right;
  display: block;
  margin-left: 0;

}

.cards-holder {
display: grid;
grid-gap: 20px;
justify-items: center;
grid-auto-flow: column;
grid-auto-columns: minmax(230px,250px);
overflow-x: scroll;
width: 100%;
overflow: -moz-scrollbars-none;
-ms-overflow-style: none;
scroll-behavior: smooth;
overscroll-behavior-x: contain;
}
.cards-holder::-webkit-scrollbar {
  display: none;
}
.cards {
  max-width: 250px;
  position: relative;
  width: 100%;
}
.cards img {
  max-width: 100% ;
  object-position: center;
  object-fit: cover;
  height: 220px;
}
.tagger {
  position: absolute;
  background-color: #FF546E;
  color: #ffffff;
  white-space: normal;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;
  margin-left: 7px;
}
.cards img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cards-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #C8C8C8;
  padding: 12px 0 ;
  background-color: #ffffff;
}
.cards-title .name {
  color: #21293C;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 13px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  max-width: 90%;
}
.cards-title .sales-price {
  font-weight: 500;
  font-size: 18px;
  margin-right: 0;
}
.naira-sign {
  margin-right: 5px;
}
.cards-title .product-price {
  font-size: 14px;
  margin-right: 0;
}
.cards-title button {
  color: #ffffff;
  background-color: #0069E6;
  font-size: 12px;
  padding: 3px 25px;
  border-radius: 3px ;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  -ms-border-radius: 3px ;
  -o-border-radius: 3px ;
}

/* rating system */
/* .rating{
  margin-bottom: 12px;
} */
.flaticon-star:before {
  margin-left: 2px !important;
  font-size: 20px !important;
}


/* rating-system */


/* discount and features shop stylings end */



/* shop-type section start */
.shop-type {
  padding: 130px 0 150px 0;
}
.shop-type .container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  justify-items: center;
}
.w-card {
  display: flex;

}
.light, .dark {
  display: flex;
  flex-direction: column;
  height: 300px;
  white-space: nowrap;
  margin: 0;
}
.light {
  color: #717070;
  background-color: #EBF1F1;
  width: 248px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  border-right: none !important;
}
.light span, .dark span{
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 8px;
}
.light h5 {
  font-weight: 600;
  font-size: 28px;
}
.light h5, .dark h5 {
  margin-bottom: 0;
}

.dark{
  color: #ffffff;
  background-color: #0051CF ;
  width: 300px;
  position: relative;
  border: none;
  -o-text-overflow: clip;
  text-overflow: clip;
  justify-content: center;
  align-items: flex-end;
  padding-right: 30px;
}
.dark::before {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -17px;
  right: 100%;
  border: 13px solid #EBF1F1;
  border-right: 26px solid #0051CF;
  border-left: 0 solid #EBF1F1;
  z-index: 5;
}
.dark h4 {
  font-weight: 600;
  font-size: 48px;
}
.dark button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #FFFFFF;
}
.dark button:active, .dark button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 0;
}

@media (max-width:600px) {
.shop-type .container {
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.navbar{
  padding-left: 0rem ;
  padding-right: 0rem;
}
.light, .dark {
  height: 220px;
}
.dark {
  padding-right: 2%;
  width: 180px
}
.dark h4 {
  font-size: 24px;

}
.dark button {
  font-size: 12px;
}
.light {
  width: 135px;
  padding-left: 2%;
}
.light span, .dark span {
  font-size: 9px;
}
.light h5 {
  font-size: 20px;
}

}


/* shop-type section end*/
fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating,
.rating2,
.rating3
{
  border: none;
  float: left;
}

.rating > input,
.rating2 > input,
.rating3 > input
{ display: none; }


.rating > label:before,
.rating2 > label:before,
.rating3 > label:before{
  margin: 5px;
  font-size: 1.25em;
  font-family:"Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
  font-weight: 900;

}

.rating > .half:before,
.rating2 > .half:before,
.rating3 > .half:before{
  content: "\f089";
  position: absolute;
}

.rating > label,
.rating2 > label,
.rating3 > label{
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label,
.rating2 > input:checked ~ label,
.rating2:not(:checked) > label:hover,
.rating2:not(:checked) > label:hover ~ label,
.rating3 > input:checked ~ label,
.rating3:not(:checked) > label:hover,
.rating3:not(:checked) > label:hover ~ label
{ color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label,
.rating2 > input:checked + label:hover,
.rating2 > input:checked ~ label:hover,
.rating2 > label:hover ~ input:checked ~ label,
.rating2 > input:checked ~ label:hover ~ label,
.rating3 > input:checked + label:hover,
.rating3 > input:checked ~ label:hover,
.rating3 > label:hover ~ input:checked ~ label,
.rating3 > input:checked ~ label:hover ~ label
{ color: #FFED85;  }
