
/* imports */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('../../../../assets/custom/icons/flaticon.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/* global scopes */
fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating,
.rating2,
.rating3
{
  border: none;
  float: left;
}
.nav-linker{
    cursor: pointer;
}

.rating > input,
.rating2 > input,
.rating3 > input
{ display: none; }


.rating > label:before,
.rating2 > label:before,
.rating3 > label:before{
  margin: 5px;
  font-size: 1.25em;
  font-family:"Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
  font-weight: 900;

}

.rating > .half:before,
.rating2 > .half:before,
.rating3 > .half:before{
  content: "\f089";
  position: absolute;
}

.rating > label,
.rating2 > label,
.rating3 > label{
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label,
.rating2 > input:checked ~ label,
.rating2:not(:checked) > label:hover,
.rating2:not(:checked) > label:hover ~ label,
.rating3 > input:checked ~ label,
.rating3:not(:checked) > label:hover,
.rating3:not(:checked) > label:hover ~ label
{ color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label,
.rating2 > input:checked + label:hover,
.rating2 > input:checked ~ label:hover,
.rating2 > label:hover ~ input:checked ~ label,
.rating2 > input:checked ~ label:hover ~ label,
.rating3 > input:checked + label:hover,
.rating3 > input:checked ~ label:hover,
.rating3 > label:hover ~ input:checked ~ label,
.rating3 > input:checked ~ label:hover ~ label
{ color: #FFED85;  }

*, ::after, ::before {
    box-sizing: border-box;
}
.dashboard-container {
 width: 100%;
 height: 100%;
 text-rendering: optimizeLegibility;
 font-kerning: normal;
 -webkit-font-smoothing: antialiased;
 scroll-behavior: smooth;
}
.dashboard-body {
    font-family: 'Poppins';
    background: #E5E5E5;

}
.sub-title{
  cursor: pointer;
}
.nav-linker{
  cursor: pointer;
}
ul, address {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
a, a:hover , a:active, a:focus
button, button:hover, button:active,
button:focus{
    text-decoration: none;
    display: inline-block;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    outline: none;
}
button{
    white-space: nowrap;
    text-align: center;
    padding: 0;
    border: 0;
}
input {
    padding: 0;
    border: 0;
    white-space: nowrap;
    display: block;

}
input:focus,
input:active{
    /* border: 1px solid #0069E6; */
    outline: none;
}
input::placeholder {
    font-size: 14px;
    opacity: 1;
    transition: all ease-in 300ms;
    -webkit-transition: all ease-in 300ms;
    -moz-transition: all ease-in 300ms;
    -ms-transition: all ease-in 300ms;
    -o-transition: all ease-in 300ms;
}
input:focus::placeholder,
input:active::placeholder{
    opacity: 0;
    font-size: 0;
    transition: all ease-in 300ms;
    -webkit-transition: all ease-in 300ms;
    -moz-transition: all ease-in 300ms;
    -ms-transition: all ease-in 300ms;
    -o-transition: all ease-in 300ms;
}
.clickable{
  cursor: pointer;
}
.stnd-bttn{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    width: 120px;
    font-weight: 600;
    border-radius: 5px;
}
.sign {
    color: #0069E6;
    background-color: #FFFFFF;
}
.sign:hover,.sign:active {
    color: #ffffff;
    background-color: #272723;
}
.header {
    visibility: visible;
    width: 100%;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}
.suck {
    visibility: hidden;
    overflow: hidden;
    width:0;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}
.avi {
  max-width: 40px;
  height: auto;
  max-height: 40px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-self: normal;
}
div.avi-card {
  display: flex;
  align-items: center;
  padding: 40px 20px;
}
div.avi-card img.avi {
  margin-right: 15px;
}
div.scrolled{
    background-color: #0069E6 ;
    position:fixed;
    box-shadow: 0px 2px 77px rgba(66, 66, 66, 0.411232) !important;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    width: 100%;
    z-index: 1000;
    top: 0;
    color: #ffffff;
}


/* global scopes end */

/* header-styles */
header.header {
    background: #0069E6;
}
.top-menu {

    display: flex;
    border-bottom: 0.25px solid #E5E5E5;
    padding: 5px 0 ;
}
.tn1{
    padding: 3px;
    display: inline-block;
}
.top-menu li a {
    color: #ffffff;
    font-size: 12px;
}
.top-menu li a:hover,.top-menu li a:active,
.call:hover, .call:active {
    color:#272723;

}
.off {
    margin-left: -10px !important;
}
.bl {
    border-left: 0.5px solid #FFFFFF;
    padding: 0 10px;
}
.logo {
     color: #ffffff;
     margin-left: -30px;
}
.logo img {
    max-width: 200px;
    object-fit: cover;
    object-position: center;
}
.m-group2 {
    display: flex;
    align-items: center;
}
.call {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    align-self: baseline;
}
.small {
    font-size: 10px;
}
.drk-blue{
    background-color: #0069E6;
    color: #ffffff ;
}
.drk-blue:hover,.drk-blue:active{
    background-color: #ffffff;
    color: #0069E6;

}
span.account-info {
  display: inline-block;
  flex-direction: column;
  }

  span.account-info .account-name {
      color: #000000;
      font-size: 15px;
      margin-bottom: 4px;
  }
  span.account-info .account-type {
      color: #ADADAD;
      font-size: 15px;
  }
  div.dashnavs ul.nav {
      padding: 0;
      max-width: unset;
  }
  div.dashnavs ul.nav li.nav-item {
      text-align: left;
  }
  div.dashnavs ul.nav li.nav-item a.nav-link {
      text-align: left;
      display: grid;
      grid-template-columns: 90% 10%;
      align-items: center;
  }
  /* nav-arrow effect start */
  div.dashnavs ul.nav li.nav-item a.nav-link::after{
      content: "\f10d";
      font-family: Flaticon;
      font-style: normal;
      font-size: 10px;
  }

  /* nav-arrow effect end */
  div.dashnavs ul.nav li.nav-item a.nav-link.active {
      background-color: #747171;
      color: #ffffff;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
  }
  section.dashboard-layout div.my-container div.grid-2 {
      background-color: unset;
      font-family: 'Poppins';
  }
  section.dashboard-layout div.my-container div.grid-2 .tab-content {
      background-color: unset;
  }
  div.tab-description {
      margin-bottom: 20px;
      padding-left: 20px;
  }
  div#inc {
      background-color: #ffffff;
  }

  /* dashboard-cards styles start */
  .dash-feed2 {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      font-family: 'Nunito';
      margin-bottom: 50px;
  }
  .dash-card2 {
    border: 1px solid rgba(181, 195, 194, 0.43);
    padding: 50px 20px 24px 20px;
  }
  .dash-card2:not(:last-of-type) {
      border-right: 0.5px solid rgba(181, 195, 194, 0.43)
  }
  div.dash-card2 div.dash-figures {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  div.dash-figures .fig-4 {
      display: flex;
      flex-direction: column;
      text-align: center
  }
  div.dash-figures .fig-3 {
      margin-bottom: 20px;
  }
  .fig-4 .card-title2{
   font-weight: bold;
   font-size: 20px;
   color: #747171;
   margin-bottom: 20px;
  }
  .fig-4 .f3 {
      font-size: 70px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #005983;
  }

.mid-menu {
    padding: 4px 0 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mid-menu .logo img {
    object-fit: cover;
    object-position: center;
}
@media (max-width:425px){
    .big {
        display: none;
    }
    .small {
        white-space: nowrap;
    }
    .m-group2 {
        align-items: baseline;
    }
}



/*  nav-bar styles*/
.nav-holder {
    background: #EBF1F1;
    color: #717070;
    transition: all ease-in-out 500ms ;
    -webkit-transition: all ease-in-out 500ms ;
    -moz-transition: all ease-in-out 500ms ;
    -ms-transition: all ease-in-out 500ms ;
    -o-transition: all ease-in-out 500ms ;
}
.navbar {
    padding: 8px 0;
}
ul li.nav-item {
    margin-right: 30px ;
}
.navbar-nav .nav-item .nav-link {
    color: #717070;
    font-size: 12px ;
    transition: color ease-in-out 100ms ;
    -webkit-transition: color ease-in-out 100ms ;
    -moz-transition: color ease-in-out 100ms ;
    -ms-transition: color ease-in-out 100ms ;
    -o-transition: color ease-in-out 100ms ;
}
.navbar-nav .nav-item a.inherit {
    color: #ffffff ;
    transition: color ease-in-out 100ms ;
    -webkit-transition: color ease-in-out 100ms ;
    -moz-transition: color ease-in-out 100ms ;
    -ms-transition: color ease-in-out 100ms ;
    -o-transition: color ease-in-out 100ms ;
}
.navbar-nav .nav-item a.inherit:hover,
.navbar-nav .nav-item a.inherit:active{
    color: #000000;
}
.navbar-nav .nav-item .nav-link:hover,.navbar-nav .nav-item .nav-link:active {
    color: #0069E6 ;
    transition: all ease-in-out 100ms;
    -webkit-transition: all ease-in-out 100ms;
    -moz-transition: all ease-in-out 100ms;
    -ms-transition: all ease-in-out 100ms;
    -o-transition: all ease-in-out 100ms;
}
button.navbar-toggler {
    border: 0;
}
ul.navbar-nav {
    margin-right: auto;
}
button.navbar-toggler.hamburger.hamburger--vortex,
button.navbar-toggler.hamburger.hamburger--vortex[aria-expanded="true"] {
    padding: 0;
}
form.form-inline input.form-control {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: #ffffff;
}
form.form-inline input.form-control:focus {
    border: 1px solid #0069E6;
    box-shadow: unset;
}
button.searcher {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
    white-space: nowrap;
    background-color: #0069E6;
    color: #ffffff;
    transition: all ease-in-out 100ms;
    -webkit-transition: all ease-in-out 100ms;
    -moz-transition: all ease-in-out 100ms;
    -ms-transition: all ease-in-out 100ms;
    -o-transition: all ease-in-out 100ms;
}
button.searcher:active,button.searcher:hover {
    color: #ffffff;
    background-color: #000000;
    transition: all ease-in-out 20ms;
    -webkit-transition: all ease-in-out 20ms;
    -moz-transition: all ease-in-out 20ms;
    -ms-transition: all ease-in-out 20ms;
    -o-transition: all ease-in-out 20ms;
}
button.scht{
    background-color: #ffffff;
    color: #000000;
    transition: all ease-in-out 100ms;
    -webkit-transition: all ease-in-out 100ms;
    -moz-transition: all ease-in-out 100ms;
    -ms-transition: all ease-in-out 100ms;
    -o-transition: all ease-in-out 100ms;
}
/* hamburger start */
.navbar-toggler .hamburger-box,
.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
    width: 30px;
    color: #0069E6;
}
.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
    /* background-color: #0069E6; */
}


/* hamburger end */
@media (max-width:576px){
    form.form-inline input.form-control {
        width: 100%;
    }
    button.searcher {
        margin-top: 15px;
    }
}
/* nav-style end */

/* bootstrap-carousel styles */

.carousel-indicators li {
    height: 5px;
    background-color: #ffffff;
    opacity: 1;
}
.carousel-indicators .active,.darker li.active {
    background-color: #0069E6 !important;
}
.darker li {
    background-color: #000000;
}
  a.carousel-control-prev {
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
}
a.carousel-control-prev,a.carousel-control-next {
    opacity: 1;
}
.flaticon-arrow-point-to-right:before {
    color: #0069E6 ;
}

/* bootstrap-carousel styles  end */

/* divider styling  */
.divider .container-fluid{
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.sn,.em {
    height: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
}
.sn {
    background-color: #000000;
    justify-content: flex-end;
    padding-right: 50px;
}
 .em {
  position: relative;
  border: none;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0069E6;
  padding-left: 25px;
}
.em::before {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: 26px;
    right: 100%;
    border: 13px solid #000000;
    border-right: 26px solid #0069E6;
    border-left: 0 solid #000000;
}
@media(max-width:1440px){
    .divider .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100%;
    }

}
@media(max-width: 500px) {
    .sn, .em {
        font-size: 17px;
    }
}
/* divider styling end  */
/* search bar style start */
.search-bar {
background: #EBF1F1;
border-radius: 5px;
padding: 20px 30px;
margin-top: 110px;
margin-bottom: 75px;
}
.search-bar .search-form {
    display: flex;
}
.form-grouping {
    display: flex;
    margin-right: auto;
}
.form-grouping .searcher {
    background-color: inherit;
    min-width: 215px;
}

.flaticon-search::before {
    margin-left: 0 !important;
    font-size: 17px !important;
}

.dropdown-holder {
    display: flex;
}
.dropdown:first-of-type {
    margin-right: 15px;
}
.dropdown-toggle {
    background-color: transparent !important;
    outline: none !important;
}
button.dropdown-toggle::after {
    content: none ;
}

.dropdown-title {
    font-weight: 500 ;
    font-size:14px ;
    color: #7B858A;
    display: inline-block;
    margin-right: 20px;
}
.flaticon-down-arrow {
    display: flex !important;
    justify-self: end;
    align-items: center;
}
.flaticon-down-arrow::before {
    content: "";
    margin-left: 0 !important;
    font-size: 7px !important;
    color: #979797;
    border: 0.5px solid #979797;
    padding: 7px;
    opacity: 0.8;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
}
.dropdown-toggle[aria-expanded="true"] .flaticon-down-arrow::before{
    opacity: 1;
    border: 0.5px solid #000000;
    color: #000000;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
}
div.dropdown-menu.show {
    left: -58px !important ;
}
.dropdown-item {
    font-weight: 500;
    font-size: 15px;
    color: #0069E6;
    mix-blend-mode: normal;
}
.dropdown-item:hover,.dropdown-item:active {
    background-color: transparent;
}
.dropdoqn-divider {
  border: 1px solid #979797 !important;
}
/* dropdown in dropdown styles */
.dropper {
    display: block;
    white-space: normal;
}


.sub-drop {
    padding-left: 20px;
    max-height: 0 ;
    overflow: hidden;
}
.dropper:hover .sub-drop {
    max-height: 500px;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
}
.sub-droplink {
    color: #272727;
    font-weight: 500;
    font-size: 14px;
}

/* .sub-drop . */



/* dropdown in dropdown styles */


@media (max-width:500px){
    .search-bar .search-form {
        flex-direction: column;
    }
    .form-grouping {
        margin-bottom: 20px;
    }
    .dropdown-holder{
        justify-content: space-between;
    }
}


/* searchbar style end */

/* footer styles start */
footer {
    background-color: #272723;
    color: #C8C8C8;
    font-size: 12px;
}

.footer-holder{
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 90px;
}
.subscribe{
    display: grid;
    grid-row-gap: 25px;
}
.grouper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.grouper:nth-of-type(2),.text,.email-sub{
    margin-bottom: 25px;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.grouper:first-of-type,.footer-holder{
    border-bottom: 1px solid #EBF1F1;
}
h6.title {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
}
.details,.detail{
    display: block;
}
.details{
    font-weight: 600;
}
.sub-title {
    margin-bottom: 16px;
}
.d-link {
    color: #C8C8C8;
    font-weight: 400;

}
.d-link:active,.d-link:hover {
    color: #ffffff;
}
.text p {
    margin-bottom: 0;
}
.email-sub form {
    display: flex;
}
.email-sub form input[type='email'],.email-sub form button {
    height: 40px;
}
.email-sub form input[type='email']{
    width: 200px;
    padding: 0 20px;
}


.email-sub form button {
    font-size: 13px;
    font-weight: bold;
    background-color: #0069E6;
    color: #ffffff;
    width: 100px;
}
.email-sub form button:focus,
.email-sub form button:active,
.email-sub form button:hover{
    color: #272723;
    background-color: #717070;
}
.logo2 {
    align-self: center;
    margin-right: 70px;
}
.copy {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* flat-icon styling */

.social {
    margin-right: 70px;
}

.font-link {
    color: #FFFFFF
}
.flaticon-twitter-logo-silhouette:before{
    margin-left: 0 !important;
}
.twitter:hover,.twitter:active{
    color: #76A9EA;
}
.facebook:hover,.facebook:hover:active{
    color: #3A559F;
}

.linkedin:hover,.linkedin:hover:active{
    color: #0084B1;
}
.font-link .flaticon-twitter-logo-silhouette.flaticon-twitter-logo-silhouette::before,
.font-link .flaticon-facebook-letter-logo.flaticon-facebook-letter-logo::before,
.font-link .flaticon-instagram-logo.flaticon-instagram-logo::before,
.font-link .flaticon-linkedin-logo.flaticon-linkedin-logo::before
 {
    font-size: 26px !important;
}
/* flat-icon styling end */

/* footer style end  */



























@media (max-width: 768px){

    .container{
        max-width: unset !important;
        padding: 0 2%

    }

    .logo {
        margin-left:0 !important;
    }
    .off {
        margin-left: 0 !important;
    }
    .footer-holder{
        grid-template-columns: 1fr;
    }
    .grouper {
        flex-direction: column;
    }
    .grouper
    .text{
        margin-bottom: 25px;
    }
    .logo2{
        align-self: unset;
    }

}





/* media queries */

@media (max-width: 426px){
    .top-menu li a{
        font-size: 8px;
    }
    .logo img {
        width: 130px;
    }
    .rights {
        margin-bottom: 10px;
    }

}

/* removing number counter on input[type number] start */

input[type=number] {
    -moz-appearance:textfield;
    box-shadow: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
/* removing number counter on input[type number] start */
