
<div class="divider">
  <div class="container-fluid">
  <h3 class="sn">SHOP NOW</h3>
  <h3 class="em">ENTER MARKETS</h3>
 </div>
</div>
<!-- footer-start -->
<footer>
    <div class="container">
    <div class="footer-holder">
      <address>
        <h6 class="title">CONTACT US</h6>
        <ul>
          <li class="sub-title">
            <span class="details">ADDRESS:</span>
           <span class="detail">145 Olojo Drive Ojo, Lagos</span>
          </li>
          <li class="sub-title">
             <span class="details">PHONE:</span>
             <span class="detail">
                 <a class="d-link" href="tel:+2347010855839">+2347010855839</a>
             </span>
             <span> <a class="d-link" href="tel:+2348140891122">+2348140891122</a></span>
         </li>
         <li class="sub-title">
             <span class="details">EMAIL</span>
             <span class="detail">
               <a class="d-link" href="email:prifredlinks@gmail.com">marketnaija@gmail.com</a>
             </span>

         </li>
         <li class="sub-title">
             <span class="details">WORKING HOURS</span>
             <span class="detail">Mon-Fri 8AM- 4PM</span>
         </li>
        </ul>
      </address>
     <div class="subscribe">
       <div class="grouper">
           <div class="text">
               <h6 class="title">SUBSCRIBE TO MARKETNAIJA</h6>
               <p>Send me your newsletter with the latest insight into the <br>
                  property market; and offers, promotions and updates from us.</p>
           </div>
           <!-- <div class="email-sub">
             <form action="">
                 <input type="email" name="" id="" placeholder="Email address" >
                 <button>SUBSCRIBE</button>
             </form>

           </div> -->
       </div>
       <div class="grouper">
         <div class="g1">
         <h6 class="title">MY ACCOUNT</h6>
         <div class="footer-links">
             <ul>
               <li class="sub-title">
                 <a [routerLink]="['about']" class="d-link">About Us</a>
               </li>
               <li class="sub-title">
                   <a [routerLink]="['contact']" class="d-link">Contact us</a>
               </li>
               <li class="sub-title">
                   <a [routerLink]="['markets']" class="d-link">Markets</a>
               </li>

             </ul>
             <ul>

                 <li class="sub-title">
                     <a [routerLink]="['policy']" class="d-link">Privacy Policy</a>
                 </li>
                 <li class="sub-title">
                     <a [routerLink]="['terms']" class="d-link">Terms and Conditions</a>
                 </li>
             </ul>
         </div>
       </div>
         <a [routerLink]=" " class="logo2">
             <img src="./assets/custom/images/logo.svg" alt="">
           </a>
       </div>
     </div>
    </div>
    <div class="copy">
      <span class="rights">Copyright 2018 MarketNaija. Powered by Prifred Links</span>
       <div class="social">
         <a href="https://twitter.com/marketnaija" class="font-link twitter"><i class="flaticon-twitter-logo-silhouette"></i></a>
         <a href="https://web.facebook.com/prifredlinks" class="font-link facebook"><i class="flaticon-facebook-letter-logo"></i></a>
         <a href="https://instagram.com/market_naija.ng" class="font-link instagram"><i class="flaticon-instagram-logo"></i></a>
         <!-- <a href="https://linkedin.com/marketnaija" class="font-link linkedin"><i class="flaticon-linkedin-logo"></i></a> -->
       </div>
    </div>
 </div>
  </footer>
  <!-- footer- end -->
