/* market page start */
/* landing start, */
.landing {
  padding-bottom: 40px;
  height: 250px;
  background: url(../../../assets/custom/images/img9.jfif) center center
    no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.far{
  margin-left: 50%;
}
.landing .container h2 {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 36px;
}
.lb {
  padding: 8px 30px !important;
  border-radius: 5px;
  font-size: 14px;
}

/* landing end */
/*card-sysem styes  */
.card-system {
  margin-bottom: 100px;
  display: grid;
  grid-gap: 64px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.market{
  margin-right: 10px;
  width: 73%;
}
.flaticon-search{
  margin-top: 20px;
}
.market-card,
.post-card {
  display: flex;
  flex-direction: column;
}
.market-card{
  border: 1px solid #ccc;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);


}
.mpic {
  width: 100%;
  object-fit: cover;
  object-position: center;
  align-self: stretch;
  flex-grow: 1;
}
.martket-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  border: 0.5px solid #c8c8c8;
  border-radius: 3px;
}
.martket-titles .market-name {
  font-weight: 500;
  font-size: 18px;
  color: #21293c;
  margin-bottom: 15px;
}
.martket-titles button {
  color: #ffffff;
  background-color: #0069e6;
  font-size: 12px;
  padding: 5px 17px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
@media (max-width: 767px) {
  .card-system {
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-gap: 30px;
  }
}

/* card-system styles */
/* market page end */

/* individual Market styles start */
.into {
  padding-top: 55px;
  margin-bottom: -60px;
}
.director {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 36px;
}
.director h2 {
  color: #21293c;
  font-size: 48px;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: -15px;
}

.director a {
  color: #21293c !important;
}
.director a:active,
.director a:hover {
  color: #0069e6 !important;
}
.director a .flaticon-arrow-point-to-right {
  display: inline-flex;
}
.director a .flaticon-arrow-point-to-right:before {
  font-size: 15px !important;
  margin-left: 0 !important;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  margin-right: 20px;
}

.into .container p {
  color: #7b858a;
  font-size: 14px;
  margin-bottom: 30px;
}
.get-map {
  font-weight: 500;
  font-size: 18px;
  color: #0069e6;
}
.into .container a:hover,
.into .container a:active {
  color: #21293c;
}

@media (max-width: 767px) {
  .into .container .director h2 {
    margin-left: 0;
  }
}

/* individual Market styles end */
/* blog-post ayles start */
.card-system2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  margin-bottom: 40px;
  justify-content: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 60px;
}

.p-img {
  margin-bottom: 50px;
  object-fit: cover;
  object-position: center;
}

.post-title {
  font-weight: 500;
  font-size: 25px;
  color: #21293c;
  margin-bottom: 30px;
}
.post-brief {
  margin-bottom: 20px;
}

.post-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-author {
  color: #7b858a;
  font-weight: 500;
  font-size: 14px;
}
.read-more {
  font-weight: 500;
  font-size: 14px;
  color: #0069e6;
}
input.search-archieve {
  max-width: 350px !important;
  width: 100% !important;
}

/* blog-post ayles end */
.back {
  margin-top: 100px;
}

/* single-blog post start */
/* carousel style start */
.bd-example {
  margin-bottom: 50px;
}
.single-pic {
  min-height: 300px;
  object-fit: cover;
  object-position: center;
}

/*carousel style end  */
.area2 {
  padding-top: 35px !important;
  padding-bottom: 0 !important;
  margin-bottom: 37px;
}
.area2 .container {
  border-bottom: 0.5px solid #c8c8c8;
  padding-bottom: 40px !important;
  grid-row-gap: 50px;
}
.mg-25 {
  margin-bottom: 25px !important;
}
.share-post .container {
  padding-top: 34px !important;
  padding-bottom: 50px !important;
  border-top: 0.5px solid #c8c8c8 !important;
  border-bottom: 0.5px solid #c8c8c8 !important;
  display: block !important ;
}
.share-link {
  margin-left: 30px;
}
.share-pic {
  max-width: 30px;
  max-height: 30px;
}
.archive {
  max-width: 295px;
}
.am {
  padding-bottom: 15px;
}
.arch-button {
  background-color: transparent;
}

.am:not(:last-child) {
  border-bottom: 0.5px solid #c8c8c8;
}
.am:not(:first-child) {
  margin-top: 12px;
}
.monthly-post {
  position: relative;
  left: 17px;
  overflow: hidden;
  height: 0;
}
.shower {
  overflow: visible !important;
  max-height: 100% !important;
  height: 100% !important;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
}
.post-linker {
  display: block;
  color: #0069e6;
}
.post-linker:hover,
.post-linker:active {
  color: #21293c;
}
.related-post {
  margin-bottom: 70px;
}
.rel-title {
  font-size: 18px;
  color: #0069e6;
  margin-bottom: 34px;
}

@media (max-width: 768px) {
  .back {
    margin-top: 50px;
  }
}

/* single-blog post end */

/* shop-deatails page start */
/* shop style start */
.shop .container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 32px;
  padding-top: 60px;
  padding-bottom: 90px;
  border-bottom: 0.5px solid #c8c8c8;
}
/* gallery-start */
.preview {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  grid-column-gap: 10px;
}
.p1 {
  justify-self: left;
}
.p2 {
  justify-self: center;
}
.p3 {
  justify-self: end;
}
.shop-pic {
  min-width: 300px;
  height: 500px;
}
.shop-pic,
.prev-pic {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* gallery end */
.shop-details .director {
  margin-bottom: 20px !important;
  align-items: unset;
}

.review-heading {
  font-size: 25px !important;
  color: #21293c;
  margin-left: 0 !important;
}
.grey,
.grey:hover,
.grey:active {
  color: #7b858a;
  font-size: 14px;
}
.shop-contact {
  padding-top: 30px;
  border-top: 0.5px solid #c8c8c8;
  padding-bottom: 23px;
}
.shop-contact a {
  display: block;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .shop .container {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .gallery {
    order: 2;
  }
}
@media (max-width: 426px) {
  .shop-details .director h2.shop-name {
    margin-bottom: 30px;
  }
}
/* shop style end */
/* customer-review start */
.customer-review {
  padding-top: 54px;
}
.customer-review .container h4 {
  margin-bottom: 30px;
}
.blue2 {
  margin-bottom: 10px !important;
  color: #0069e6 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}
.review-entry .form-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 55px;
}
.review-entry .form-item input {
  border-radius: 3px;
  border: 1px solid #c8c8c8;
  width: 100%;
  max-width: 900px;
  height: 60px;
  margin-bottom: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0 10px;
  display: inline-block;
  margin-right: 30px;
}
.review-entry .form-item input:focus {
  border: 1px solid #0069e6;
}
.post-rev {
  padding: 12px 25px !important;
}
.reviews-group {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #c8c8c8;
}
.name-date {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.name-date .username,
.star-review {
  font-size: 16px;
  color: #7b858a;
}
.name-date .post-date,
.rating2 .comment {
  font-weight: 300;
  font-size: 14px;
  color: #c4c4c4;
}

@media (max-width: 768px) {
  .review-entry .form-item {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .reviews-group {
    flex-direction: column;
    align-items: unset;
  }
  .name-date {
    margin-right: 0;
  }
}
/* customer-review end */

/* rating atyles start */
.rating1,
.rated,
.store-rater {
  display: flex;
}
.rating1 form .rating {
  font-size: 15px;
}
.store-rater {
  flex-direction: column;
}
.store-rater h4 {
  padding: 24px 0 22px 0;
  color: #0069e6;
  font-weight: 500;
  font-size: 18px;
}

.store-rater form .rating {
  font-size: 30px;
}
.rated form .rating {
  font-size: 10px;
  margin-right: 20px;
}
.rated {
  align-items: center;
}
.clickable {
  cursor: pointer;
}
.info {
  color: #dc143c;
  background-color: #bde5f8;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

/* rating styles start */

/* shop-details page end */
