 <!-- page-content start -->
      <!-- landing-start -->
      <section class="into">
        <div class="container">
              <div class="director ">
                  <h2>{{marketName}}</h2>
                  <a [routerLink]="['/markets']" class="clickable">
                      <i class="flaticon-arrow-point-to-right "></i>Back to Markets
                  </a>
              </div>
              <p>{{description}}</p>
              <a href="" class="get-map">Get Map Directions</a>
        </div>
  </section>
    <!-- landing-end -->
    <!-- text  start -->
    <!-- market-content start -->
   
    <section class="markets-content">
        <div class="container">
          <!-- searchbar-start -->
            <div class="search-bar">
                <form action="" class="search-form">
                    <div class="form-grouping">
                        <input type="search" name="" id=""  [(ngModel)]="searchText" name="searchText"
                         class="searcher" placeholder="Search Shops by Name...">
                        <i class="flaticon-search"></i>
                    </div>
                    <!-- <div class="dropdown-holder">
                    <div class="dropdown">
                        <div class="market">
                            <label  class="market-label">Type</label>
                            <select class="browser-default custom-select">

                                <option selected>Funiture</option>
                                <option value="1">Shoes and Bags</option>
                                <option value="2">Kitchen Utensils</option>
                                <option value="3">Electronics</option>
                              </select>
                        </div>
                        </div>
                      </div> -->
                </form>
            </div>
           <!-- searchbar-end -->
           <span class="far clickable td4" *ngIf="loadSpinner"><i class="fa fa-spinner fa-spin fa-fw"
            ></i></span>
           <p *ngIf="emptyMarket" class="alert alert-danger">There are no stores in this market. Please check other markets</p>
        </div>

         <!-- card sytem start -->
         <div class="card-system">

            <div class="market-card clickable" *ngFor='let store of stores | filter : searchText; let i = index;'>
                <img src="data:image/jpeg;base64,{{store.storeImage.file}}"
                alt="" class="mpic" *ngIf="store.storeImage">
                <img src="../../../assets/custom/images/default-store.png"
                alt="" class="mpic" *ngIf="!store.storeImage">
                <div class="martket-titles">
                  <span class="market-name">{{store.storeName}}</span>
                  <button class="btn btn-primary clickable" (click)="getStoresId(store.storeId)">SHOP</button>
                </div>
            </div>
            <!-- <div class="market-card">
                <img src="../../../assets/custom/images/img13.jfif" alt="" class="mpic">
                <div class="martket-titles">
                  <span class="market-name">Alagba Stores</span>
                  <button class="">SHOP</button>
                </div>
            </div>
            <div class="market-card">
                <img src="../../../assets/custom/images/img14.jfif" alt="" class="mpic">
                <div class="martket-titles">
                  <span class="market-name">Alagba Stores</span>
                  <button class="">SHOP</button>
                </div>
            </div>
            <div class="market-card">
                <img src="../../../assets/custom/images/img15.jfif" alt="" class="mpic">
                <div class="martket-titles">
                  <span class="market-name">Alagba Stores</span>
                  <button class="">SHOP</button>
                </div>
            </div>
            <div class="market-card">
                <img src="../../../assets/custom/images/img16.jfif" alt="" class="mpic">
                <div class="martket-titles">
                  <span class="market-name">Alagba Stores</span>
                  <button class="">SHOP</button>
                </div>
            </div>
            <div class="market-card">
                <img src="../../../assets/custom/images/img17.jfif" alt="" class="mpic">
                <div class="martket-titles">
                  <span class="market-name">Alagba Market</span>
                  <button class="">SHOP</button>
                </div>
            </div> -->
        </div>
         <!-- card sytem end -->

    </section>
   <!-- market-content end -->


    <!-- partner-section-end -->
